{% extends 'tourister1/base.html' %}
{% load static %}

{% block title %} Abha {% endblock %}


{% block content  %}


    
<div class="wrapper pages-content">
  
<div class = "container">
    
    <div class ="row mb-5 mt-5">
        
        
                <div class = "riyadh-container">
                    <h1 class="text-uppercase fw-bold fs-1 text-center" >Abha City</h1>
                    <h3 class=" fs-5 text-center fw-fw-medium" >At an altitude of 2,200 m between the peaks of the Sarawat Mountains, Abha, is ideally located in southwestern region of Saudi Arabia. Its exceptional location allows you to embrace the clouds and wonder around its mountaintops. While consumed with astonishment and amusement, you will feel like time traveling hundreds of years back in time as you stumble upon castles and palaces built from the elements taken from their unspoiled environment.</h3>
                </div>
        
                
    </div>
    <div class ="row mb-5 mt-5">
        <div class = "col-6">
            <div class = "Tourist-container me-5"> 
            
                <div id="carouselExampleCaptions" class="carousel slide me-5">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/image/AlNasb.jpg" class="d-block " width="550px" height="400px"alt="Al Nasb district">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-4">Al Nasb district</h5>
                        <p class="fs-6 fw-medium">Al Nasb historical district located at the heart, of Abha.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/Al-Basta.jpg" class="d-block" width="550px" height="400px"alt="Al-Basta heritage district">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-4">Al-Basta heritage district </h5>
                         <p class=" fs-6 fw-medium">Al-Basta district still maintains its ancient legacy as one of the oldest neighbourhoods from which the city of Abha has formed.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/fatimahMuseum.jpg" class="d-block " width="550px" height="400px"alt="Fatimah’s Museum">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-4">Fatimah’s Museum</h5>
                        <p class="fs-6 fw-medium">The minute you lay your eyes on Al-Qatt Al-Aseeri art in Fatimah’s Museum of Aseeri Woman’s Heritage, you will be overwhelmed with its beauty.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/rijalAlmaa.jpg" class="d-block " width="550px" height="400px"alt="Rijal Almaa village">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-4">Rijal Almaa village</h5>
                        <p class="fs-6 fw-medium">is a village located in the Rijal Almaa province, Asir Region, Saudi Arabia.It is about 50 km west of Abha.</p>
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
           
            </div>
            <div class = "col-6">
                <iframe width="550" height="400" src="https://www.youtube.com/embed/x4-aiJXT-_Y?si=shWlodW3gyCmTK30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <h3 class=" fw-bold ml-3 text-center ">Tourist places Abha</h3>
<div class = "comtainer">
   
        <div class ="row mb-5 mt-5">
        
                
                    <div class = "col-4">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/aldabab.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Al-Dabab Walkway</h5>
                            <p class="fs-6 fw-medium">Spend some special time with the clouds and visit one of the absolutely most breathtaking destinations. When visiting Abha, you should not miss out on the chance of an overwhelming stroll around the walkway. </p>
                            <br>
                            <a href="https://maps.app.goo.gl/ATcz5Naw5Lqed2VN6" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/highCity.jpg" class="card-img-top" alt="The High City">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">The High City</h5>
                            <p class="fs-6 fw-medium">High City has an ideal strategic location at the heart of Abha since it is surrounded by many elegant hotels and captivating parks as well as it is easily reachable via King Abdulaziz Road from all parts of the city.</p>
                            <br>
                            <a href="https://maps.app.goo.gl/nzcC8VSmgG8nvmkw7" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/Boulevard.jpg" class="card-img-top" alt="Khamis Mushait Boulevard">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Khamis Mushait Boulevard</h5>
                            <p class="fs-6 fw-medium">Khamis Mushait is Just a half-hour drive from Abha. Here you will find a mesmerizing place that will lure you to discover an experience like no other, it is where pleasure, beautiful weather, cuisine and luxury shopping meet.</p>
                            <a href="https://maps.app.goo.gl/t4BDugCCi6y7hjo17" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/alhabala.jpg" class="card-img-top" alt="Al Habala Park">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Al Habala Park</h5>
                            <p class="fs-6 fw-medium">There is so much to see the minute you start your trip to the park, whether by the cable cars or by car. You will see the captivating fog, the amazement of the park’s majestic location on a massive rock ledge.</p>
                            <a href="https://maps.app.goo.gl/VY7EfxVwDaDWB1VZ6" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/HistoricPalaces.jpg" class="card-img-top" alt="Historic Palaces">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Historic Palaces </h5>
                            <p class="fs-6 fw-medium">The city of Abha is rich with its historic palaces and castles that can take you back in time, with their specific details and components, to hundreds of years in the depth of the past.</p>
                            <a href="https://maps.app.goo.gl/VSDkaVPBRRF386ew8" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/abuKheyal.jpg" class="card-img-top" alt="Abu Kheyal Park">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4 ">Abu Kheyal Park</h5>
                            <p class="fs-6 fw-medium">Entering Abu Kheyal Park, located on King Abdulaziz Road, feels like walking through vast green fields that seem to extend beyond the horizon.</p>
                            <a href="https://maps.app.goo.gl/NCyY8bDvyLZYWAJi9" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      
    
    


{% endblock%}