{% extends 'tourister1/base.html' %}
{% load static %}

{% block title %} About US  {% endblock %}
{% block content  %}
<div class ="wrapper pages-content">
    <div class = "form">
 
            <h1 class = "  fw-bold fs-1 text-center"> About Us</h1>
        <p fs-5 class = "text-center fw-fw-medium">Get to know the Kingdom of Saudi Arabia Saudi Arabia has a large number of coastal destinations that make it a competitor to the most famous beach destinations around the world, and it has green spaces covering its plains, mountains and countless parks, in addition to a large number of heritage and archaeological sites and markets, some of which span thousands of years. Learn about the nearest ways to reach your destinations, and learn all the details related to the climate upon your arrival, so here is your guide for everything you need to know about the Kingdom of Saudi Arabia.</p>
     </div>
</div>



{% endblock %}