{% extends 'tourister1/base.html' %}
{% load static %}

{% block title %} Alula {% endblock %}


{% block content  %}


    
<div class="wrapper pages-content">
  
<div class = "container">
    
    <div class ="row mb-5 mt-5">
        
        
                <div class = "riyadh-container">
                    <h1 class="text-uppercase fw-bold fs-1 text-center" >Alula City</h1>
                    <h3 class="fs-5 text-center fw-fw-medium ">The city of Al-Hijr is also known as Madain Saleh. This is an amazing opportunity to go on a journey through time and trace a distant past, as it is one of the oldest sites in Saudi Arabia. It contains many sites, monuments and architectural artifacts from several eras and civilizations.</h3>
                </div>
        
                
    </div>
    <div class ="row mb-5 mt-5">
        <div class = "col-6">
            <div class = "Tourist-container me-5"> 
            
                <div id="carouselExampleCaptions" class="carousel slide me-5">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/image/maraya.jpg" class="d-block " width="550px" height="400px"alt="logo">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-3">Maraya Concert Hall</h5>
                        <p class="fs-6 fw-medium">Maraya Concert Hall was designed to be an artistic piece of work, with its mirrors reflecting the amazing natural beauty elements of AlUla surrounding the building.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/AlFil.png" class="d-block" width="550px" height="400px"alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-3">Jabal Al-Fil</h5>
                         <p class="fs-6 fw-medium">On soft golden sands, and amid captivating rock formations, Jabal Al-Fil stands as a natural sculpture that embraces the sky.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/oldTown.jpg" class="d-block " width="550px" height="400px"alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-3">AlUla Old Town</h5>
                        <p class="fs-6 fw-medium">Books of travelers since the 12th century talk a lot about the old town of AlUla and its importance in the Hijaz region, as it is the largest ancient city after Makkah.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/hijazRailway.jpg" class="d-block " width="550px" height="400px"alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5 class = "fs-3">Hijaz Railway Station</h5>
                        <p class="fs-6 fw-medium">AlUla has a rich history of human civilizations that settled in it due to its location on old trade and Hajj roads, therefore AlUla Railway Station is distinguished among the other.</p>
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            </div>
            <div class = "col-6">
                <iframe class = "ms-5" width="550" height="400" src="https://www.youtube.com/embed/LMLT64Pgdag?si=cKsCV0wQ9r00URH9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <h3 class=" fw-bold ml-3 text-center ">Tourist places in Alula</h3>
<div class = "comtainer">
   
        <div class ="row mb-5 mt-5">
        
                
                    <div class = "col-4">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/oldMarket.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Local Market in Old AlUla</h5>
                            <p class="fs-6 fw-medium">The local market is located in the old town of AlUla, which still preserves its ancient features evident in the construction of mud houses. This traditional market reflects a rich history that extends throughout the town.</p>
                            <a href="https://maps.app.goo.gl/9v7GP9cKBMzukwhB7" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class="card h-100 w-100">
                            <img src="/static/image/HabitasInAlUla.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Habitas AlUla Resort</h5>
                            <p class="fs-6 fw-medium">Along the Wadi Ashar desert, Habitas AlUla offers 96 rooms prepared for spending exceptional moments, including luxurious Celestial rooms, Cove rooms, and Canyon rooms. </p>
                            <a href="https://maps.app.goo.gl/5VG2K7ixV7GM5hGJA" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class="card h-100 w-100">
                            <img src="/static/image/banyanTree.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Banyan Tree </h5>
                            <p class="fs-6 fw-medium">Banyan Tree AlUla Resort features 47 villas with designs inspired by traditional Arab tents, each with its own privacy and outdoor courtyard overlooking a unique angle that highlights the beauty of AlUla's amazing terrain.</p>
                            <a href="https://maps.app.goo.gl/6TgeijbzcXTVu23N7" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/ghramil.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Al-Gharameel Mountains</h5>
                            <p class="fs-6 fw-medium">Extremely beautiful rock formations, carved by natural factors over time.</p>
                            <a href="https://maps.app.goo.gl/ufLnc9qkxVfTMjss7" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/AlHijr.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Al-Hijr Heritage Site</h5>
                            <p class="fs-6 fw-medium">The first site in the Kingdom to be inscribed in the UNESCO World Heritage List.</p>
                            <a href="https://maps.app.goo.gl/yuxc5cJw364oP3dn9" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-4 mt-5">
                        <div class="card h-100 w-100" >
                            <img src="/static/image/ikmah.jpg" class="card-img-top" alt="...">
                            <div class="card-body  d-flex flex-column justify-content-between align-items-start">
                            <h5 class="card-title fw-bold fs-4">Jabal Ikmah</h5>
                            <p class="fs-6 fw-medium">An open-air library filled with inscriptions and relics from time immemorial.</p>
                        
                            <a href="https://maps.app.goo.gl/kN4Uj434kVTgTWov6" class="btn btn-primary">Location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      
    
    


{% endblock%}