{% extends 'tourister1/base.html' %}
{% load static %}

{% block title %} Saudi Golden Tour {% endblock %}


{% block content  %}


<div class="video-container">
    <video autoplay muted loop>
        <source src="/static/video/saudiVision.mp4" type="video/mp4">Your browser does not support video
    </video>



    <div class="content">
        <div>
            <h2>welcome to saudi arabia</h2>
            <p >Tourism in Saudi Arabia has shown existing and growing support from the Saudi government, through many bodies and organizations in this field, including: the General Authority for Tourism and National Heritage, which contributes effectively to developing and rehabilitating tourist and heritage sites, and increasing tourism diversity and accommodation for tourism.</p>
        </div>

    </div>
</div>
     

{% endblock %}