{% extends 'tourister1/base.html' %}
{% load static %}

{% block title %} Saudi Golden Tour {% endblock %}


{% block content  %}


<div class="video-container">
    <video autoplay muted loop>
        <source src="/static/video/homeBack.mp4" type="video/mp4">Your browser does not support video
    </video>



    <div class="content">
        <div>
            <h2 class="text-uppercase fw-bold fs-2 text-center">welcome to saudi arabia</h2>
            <p class="fs-5 text-center fw-fw-medium ">Tourism in Saudi Arabia has shown existing and growing support from the Saudi government, through many bodies and organizations in this field, including: the General Authority for Tourism and National Heritage, which contributes effectively to developing and rehabilitating tourist and heritage sites, and increasing tourism diversity and accommodation for tourism.</p>
            <a href="https://map.visitsaudi.com/en"  id = "btn"class="btn ">Eplore Saudi Arabia</a>
        </div>

    </div>
</div>
     

{% endblock %}