{% extends 'main/base.html' %}

{% block content %}

<div class="homepage">

  <div class="row">
      <div class="col">
         <h1> أبها مدينة في منطقة عسير</h1>
          <h3>ابدأ باكتشاف أبها بحواسك الخمس</h3>
          <p>
            تمتلك مدينة أبها موقعًا مثاليًّا في جنوب غربي السعودية، على ارتفاع 2200م بين قمم جبال السروات، حيث يمنحك موقعها فرصة معانقة السحاب، والتجول بين قممها الجبلية، مترعًا بالدهشة والانبهار، فيما تنتقل عبر أزمنة تتجاوز مئات السنين، عند مشاهدة القلاع والقصور المشيدة من مكونات بيئتها البكر.
          </p>
          <p>
            ومع مناورات الضباب وظهوره حتى في فصل الصيف، لن يمنعك ذلك من اكتشاف سهولها ومنحدراتها وتنوعها الثري، والتعرف عن كثب على مجتمعها المسكون بالفنون، وكيف تمكنت النساء هنا، منذ مئات السنين، من استخلاص الألوان الزاهية من الأشجار والحجارة، ليُعدن صياغة المساحات وتزيين ديكورات منازلهنّ بفن القَطّ العسيري، أحد الفنون التجريدية،
          </p>
          <button type="button"> تعرف اكثر</button>
      
      </div>
  
      <div class="col">
          <div class="card card1">
              <h5> لبس الثقافي في ابها</h5>
          </div>
          <div class="card card2">
             <h5> الطبيعية</h5>
             <a href="{% url 'main:makat_view' %}"><p>أكتشف مكة المكرمة</p></a>
      </div>
      <div class="card card3">
          <h5>  أشجار الجاكراندا </h5>
      </div>
      <div class="card card4">
          <h5> أكل الشعبي</h5>
       
      </div>
  
  
  </div>
  </div>
  </div>

 

  {% endblock %}