{% extends 'main/base.html' %}
{% block title %} Abha city {% endblock  %}

{% block continat %} 
<main>

    <div id="myCarousel" class="carousel slide mb-5 pointer-event " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://scth.scene7.com/is/image/scth/palaces-almushait:crop-1160x650?defaultImage=palaces-almushait&wid=2000&hei=1120" width="100%" height="100%" alt="">
            <div class="container ">
            <div class="carousel-caption text-start text-white">
              <h1>Abha region location.</h1>
              <p>The city of Abha has an ideal location in southwestern Saudi Arabia, at an altitude of 2,200 meters between the peaks of the Sarawat Mountains.</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/meet-saudi/floral-wreaths/boy-wearing-floral_wreath.jpg" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-white">
              <h1>Area of ​​the Abha region</h1>
              <p>Abha extends over an area of ​​5,100 hectares, with the area of ​​the city of Abha being 201,912 square kilometers.</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/abha-/abha-nature.jpg" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-end text-white">
              <h1 >Tourist destination</h1>
              <p>n 2017, Abha was awarded the title of Arab Tourism Capital Award by the Arab Tourism Organization in the Arab countries.</p>
              
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col text-center">
          <h1>Suggested places to visit</h1>
        </div>
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center ">
          <div class="mx-auto p-5">
          <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Art Street</h2>
          <p class="lead ">Enjoy the events held on Art Street in the summer, coinciding with the blooming of the jacaranda trees surrounding it, in their breathtaking purple color. Do not let confusion delay you from choosing between attending art exhibitions by local artists.</p>
        </div>
        </div>
        <div class="col-md-5">
          <img src="https://arriyadiyah.com//media/thumb/a2/ae/950_e41daab2a9.jpg" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">Historical Lahj Palace</h2>
            <p class="lead ">The mountain was given this name because the light of Islam emanated from it. At its top is the Cave of Hira, in which the Prophet Muhammad, may God bless him and grant him peace, worshiped before the mission, and in which the revelation came down to him.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://scth.scene7.com/is/image/scth/palace-sarrah:crop-1160x650?defaultImage=palace-sarrah&wid=2000&hei=1120" class=" img-fluid mx-auto mt-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center">
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Al Habla cable car station</h2>
            <p class="lead ">This cable car extends 600 meters towards the ancient village of Al-Habla, which was built by the Al-Qahtan tribe about 400 years ago. Al-Habla is known as the Hanging Village, as it can only be reached by cable car.​</p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="https://www.visitsaudi.com/content/dam/no-dynamic-media-folder/Cable%20Cars%20of%20Abha_InArticle_2.jpg" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
      <div class="row">
        <div class="col text-center mb-4">
          <h1>About Abha</h1>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">the beautiful nature</h2>
            <p class="lead ">The city of Abha is distinguished by its beautiful natural landscapes, diverse terrain, and various tourist attractions.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <video  loop autoplay muted src="/static/video/Abha.mp4" type="video/mp4" class="object-fit-contain " width="500" height="500" autoplay ></video>        
        </div>
      </div>
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
  </main>
{% endblock  %}