{% extends 'main/base.html' %}
{% load static %}

  
{% block content %}

<div class="bottom-nav">

  <div class="service-item" id="all">
    <span class="material-symbols-outlined">visibility</span>
      <h5>Vision</h5>
      <p>To be the world's leading tourism sector driving the highest sustainable impact</p>
  </div>

  <div class="service-item" id="landlots">
    <span class="material-symbols-outlined">target</span>
      <h5>Purpose</h5>
      <p>We win people's hearts and minds by opening our doors
        to the world through a tourism sector where life-changing
        stories happen every day</p>
  </div>
</div>


{% endblock %}