{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Jeddah city
{% endblock %}

{% block content %}
<div class="box-para">
    <div class="row p-4 m-3">
        <div class="col-12 text-center">
        <h1 class="display-4">Summary</h1>
        <p class="paragraph col-12">
            <hr>
            <div class="text-success">
            </div>Tourism in Saudi Arabia is a growing industry, with the government investing heavily in its development. The country has a rich history and culture, as well as stunning natural beauty, making it an attractive destination for visitors from all over the world. 
            Some of the most popular tourist destinations in Saudi Arabia include the holy cities of Mecca and Medina, the ancient city of Mada'in Saleh, the Red Sea coast, and the mountains of Asir. 
            The government is also working to develop new tourist destinations, such as the NEOM megacity and the Red Sea Project. These projects are expected to attract millions of visitors in the years to come. 
            Tourism is a key part of the government's Vision 2030 plan to diversify the economy and reduce reliance on oil. The government is targeting 30 million tourist visits by 2030, and is investing heavily in infrastructure and development to support this goal. 
            The tourism industry is already creating jobs and generating revenue for the Saudi economy. In 2018, the tourism sector contributed 7.8% to GDP and employed 1.5 million people. The government is committed to further developing the tourism sector, and believes that it has the potential to be a major driver of economic growth in the years to come.</p>
            <hr>
            <div class="text-success">
            </div>    </div>
    </div>
    </div>       
<div class="box-para1">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h2 class="display-4 text-center p-3 m-3">Mission</h2>
            <hr>
        <div class="text-success">
        </div>  
            <h5 class="para1 text-center p-3">Saudi Arabia's tourism mission is to transform the country into a global tourism destination by showcasing its rich cultural heritage, diverse natural beauty, and unique experiences. The Kingdom aims to attract visitors from around the world to explore its ancient sites, breathtaking landscapes, and vibrant culture, while also contributing to economic diversification and job creation.</h5>
        </div>
        <div class="col-6">
            <img src="{% static 'images/img-redsea.jpg' %}"class="img-about-us">
        </div>
        <div class="col-6">
            <img src="{% static 'images/camel.jpg' %}"class="img-about-us">
        </div>
        <div class="col-6">
            <h2 class="display-4 text-center p-3 m-3">Culture</h2>
            <hr>
        <div class="text-success">
        </div>  
            <h5 class="para2 text-center p-3">Saudi Arabia's rich and diverse culture is deeply rooted in its history, traditions, and Islamic heritage. The country's cultural tapestry is woven from the threads of its past, reflecting the influence of ancient civilizations, nomadic tribes, and the modern world. Here are some key aspects of Saudi Arabia's culture:Hospitality and Generosity,Islamic Heritage,Traditional Arts and Crafts and Cultural Events and Festivals. </h5>
        </div>
    </div>
</div>   
{% endblock %}


