
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Al-Ula{% endblock %}
{% block content %}
<div class="al-ula">
  <h1 class="text-center">Al-Ula City</h1>
  <div class="container" >
    
    <div class="row align-items-center text-center">    
      <div class="col-12 align-items-center  text-center" >
        <div class="row align-items-center text-center text-dark"style="border: 1px; border: radius 20px;">
          <div id='back' class="page-title" >
            <hr style="color: white;" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mceOT2UHUVE?si=Phl5bhn1jQVgsjC7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
            <div class="row align-items-center text-start ">
              <div class="city-intro">
                <hr style="color: white;" >
                  <h2 >Al-Ula City Explore the Undiscovered:</h2>
                
                  <p>Al-Ula is home to a series of wonderful historical and archaeological sites, such as Al-Khuraybah (ancient Dadan), the capital of the Dedanite and Lihyanite kingdoms, which is today considered one of the most developed cities during the first millennium BC within the Arabian Peninsula, and thousands of examples of rock art and ancient inscriptions, in addition to a railway station. Hejaz Railway.
                    Al-Ula contains hundreds of archaeological inscriptions dating back to the Safavid, Aramaic, Thamudic, Ma'inite, Greek and Latin civilizations.</p>
                

              </div>
          </div>
         
    
      </div>

    </div>
  </div>
</div>

<div class="al-ula scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Tourist-place" class="text-center" >Tourist places</h2>
  <div class="container primry-color " style="background-color: #ffffff;" >
    <div class="row align-items-center text-center">
      
      <hr style="color: white;" >
      <div class="tourist-places-cards" >
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/al_ula_city/old_ula.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AlUla Old Town</h5>
            <p class="card-text">In the twelfth century, the old town of Al-Ula turned into an essential rest stop on the Hajj route, from Damascus to Mecca, and gradually expanded until it replaced Wadi Al-Qura in the south of Al-Ula.</p>
            <a href="https://maps.app.goo.gl/aiDzrxGVvoga4Rsu9" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/al_ula_city/winter_park.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Winter park</h5>
            <p class="card-text">AlUla North Park, also known as the Winter Park, is one of the tourist destinations in AlUla and includes tourist attractions and attractions, as many tourist tours around AlUla’s archaeological and natural landmarks depart from it, and it includes a group of distinctive restaurants, cafes, and food trucks.</p>
            <a href="https://maps.app.goo.gl/gtnfyPxrfoUFvd6Q8" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/al_ula_city/m.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Mirror Theater</h5>
            <p class="card-text">Maraya Theater or Maraya Theater is a theatrical building located in the Saudi city of Al-Ula and can accommodate about 500 people. In addition to the theater, the building contains a gallery for international arts, areas to receive guests and artists, rooms to prepare artistic teams before going on stage, and a special area for VIPs.</p>
            <a href="#" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        
      </div>
      </div>
    </div>
</div>
    
<div class="al-ula primry-color ">
  <h2 id="Restaurants" class="text-center" >Restaurants</h2>
    <div class="container" >
      <div class="row align-items-center text-center" >
        
        <hr style="color: white;" >
        <div class="restaurants-cards" >
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/al_ula_city/saffron.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SAFFRON</h5>
              <p class="card-text">Banyan Tree's signature Thai restaurant, Saffron, offers AlUla guests the quintessential taste of contemporary Thai Cuisine prepared by Thai chefs</p>
              <a href="https://maps.app.goo.gl/eFBi3YKri4oqfSSXA" class=" btn btn-outline-secondary">Visit The Location</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/al_ula_city/harrat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HARRAT</h5>
              <p class="card-text">Hurra Restaurant is located inside the Banyan Tree Al Ula Resort, among the most stunning desert terrain, and offers the finest culinary arts using fresh local ingredients.</p>
              <a href="https://maps.app.goo.gl/dVU2qzWt8JRttmvp7" class=" btn btn-outline-secondary">Visit The Location</a>
            </div>
          </div>
 
          
        </div>
        </div>
      </div>
      </div>
<div class="al-ula scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Hotels" class="text-center" >Hotels</h2>
      <div class="container primry-color " style="background-color: #ffffff;">
        <div class="row align-items-center text-center">
          
          <hr style="color: white;" >
          <div class="hotels-cards" >

            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/al_ula_city/bayan.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Banyan Tree Resort AlUla</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="https://maps.app.goo.gl/WssTMio5nnpLKGmt7" class=" btn btn-outline-secondary">Visit The Location</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/al_ula_city/shaden.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shaden Resort</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="https://maps.app.goo.gl/7kcE63MwdSswGbPUA" class="btn btn-outline-secondary">Visit The Location</a>
              </div>
            </div>
            
          </div>
          </div>
        </div>
        
    </div>
</div>
{% endblock %}

