{% extends 'main/bootss.html' %}
{% load static %}


{% block content %}
<style>

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/img/poi.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
</style>
<body>

    <p class="beautiful-text">السياحة في المملكة العربية السعودية</p>
    <div class="container">
        <div class="row">
            <!-- بطاقة السياحة الدينية -->
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="/static/img/0987.jpg" class="card-img-top" alt="السياحة الدينية">
                    <div class="card-body">
                        <h5 class="card-title">🕋 السياحة الدينية</h5>
                        <p class="card-text">تعتبر السياحة الدينية من أهم أنواع السياحة في السعودية، حيث تستقبل المملكة سنويًا ملايين المسلمين من جميع أنحاء العالم لأداء فريضة الحج والعمرة، حيث يقع في السعودية المسجد الحرام والمسجد النبوي الشريف، وهما أهم المساجد في العالم الإسلامي.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="/static/img/poiu.jpg" class="card-img-top" alt="السياحة الدينية">
                    <div class="card-body">
                        <h5 class="card-title">🏛️ السياحة الثقافية</h5>
                        <p class="card-text"> تتميز السعودية بتاريخ ثقافي عريق، حيث تضم العديد من المواقع التاريخية والأثرية، مثل مدينة الدرعية التاريخية، ومدينة الطائف التاريخية، ومدينة العلا الأثرية، والتي تعكس تاريخ المملكة العريق..</p>
                    </div>
                </div>
            </div>                <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="/static/img/mnbv.jpg" class="card-img-top" alt="السياحة الدينية">
                    <div class="card-body">
                        <h5 class="card-title"> 🏞️ السياحة الطبيعية</h5>
                        <p class="card-text">تمتلك السعودية العديد من المناطق الطبيعية الخلابة، مثل جبال عسير، والصحراء الشريقية، والبحر الأحمر، والتي تجذب السياح من محبي الطبيعة والحياة البرية ومشروع الرياض الخضراء، الذي تم الإعلان عنه في إطار خطة رؤية 2030.</p>
                    </div>
                </div>
            </div>                <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="/static/img/zxcvb.jpg" class="card-img-top" alt="السياحة الدينية">
                    <div class="card-body">
                        <h5 class="card-title">🎯 رؤية السعودية 2030</h5>
                        <p class="card-text">تهدف رؤية السعودية 2030 إلى جعل السياحة أحد أهم القطاعات الاقتصادية في المملكة، حيث تهدف إلى جذب 100 مليون زيارة سنويًا بحلول عام 2030. وتعمل الحكومة السعودية على تطوير قطاع السياحة من خلال إنشاء العديد من المشاريع السياحية الجديدة، مثل مدينة نيوم، ومدينة القدية، ومدينة العلا.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}