{% extends 'main/base.html' %}

{% block content %}

<div class="homepage">

<div class="row">
    <div class="col">
        <h1>اكتشف المملكة<br>العربيةالسعودية</h1>
        <p>
            تتمتع المملكة العربية السعودية بتراث غني وتقاليد عريقة، حيث كانت بمثابة
            مركز تجاري رئيسي عبر التاريخ وشهدت ولادة الدين الإسلامي.
            شهدت المملكة في السنوات الأخيرة تحولاً ثقافياً مهماً،
            حيث تم تطوير عادات عمرها قرون لتناسب عصرنا المعاصر.
        </p>
        <button type="button"> تعرف اكثر</button>
    </div>

    <div class="col">
        <div class="card card1">
            <h5> الرياض</h5>
            <p>اكتشف عاصمة الرياض</p>
        </div>
        <div class="card card2">
            <h5> مكة المكرمة</h5>
           <p>أكتشف مكة المكرمة</p>
    </div>
    <div class="card card3">
        <h5> أبها </h5>
       <P> أكتشف أبها </P>
    </div>
    <div class="card card4">
        <h5> تبوك</h5>
       <p> أكتشف تبوك </p>
    </div>

</div>
</div>
</div>
{% endblock %}