{% extends 'main/base.html' %}
{% load static %}
{% block title %}Jaddah{% endblock %}
{% block content %}

<div class="jeddah">
  <h1 class="text-center">Jeddah City</h1>
  <div class="container">
    
    <div class="row align-items-center text-center">    
      <div class="col-12 align-items-center  text-center" >
        <div class="row align-items-center text-center text-dark"style="border: 1px; border: radius 20px;">
          <div id='back' class="page-title" >
            <hr style="color: white;" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j_qwVmq_PUY?si=Ds_upFv52m_d96-m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </div>
            <div class="row align-items-center text-start ">
              <div class="city-intro">
                <hr style="color: white;" >
                  <h2>jeddah City Explore the Undiscovered:</h2>
                
                  <p>The city of Jeddah, the bride of the Red Sea, and the largest city overlooking it, is distinguished by its geographical location as it is the gateway to the holiest places in the world. It is the first stop at which pilgrims arriving from all over the world land on their way to Mecca, through its international airport and sea port. It is also distinguished by Jeddah with its beautiful beaches.</p>
                

              </div>
          </div>
         
    
      </div>

    </div>
  </div>
</div>

<div class="jeddah scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Tourist-place" class="text-center" >Tourist places</h2>
  <div class="container primry-color " style="background-color: #ffffff;" >
    <div class="row align-items-center text-center">
      
      <hr style="color: white;" >
      <div class="tourist-places-cards" >
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/jeddah_city/fageeh.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fakih Aquarium</h5>
            <p class="card-text">An aquarium exhibition containing fish species from the Red Sea, in addition to dolphin shows, a hall and a sports club with a swimming pool.</p>
            <a href="https://maps.app.goo.gl/iNHDPhZuEid7PuyY7" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/jeddah_city/old_jeddah.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Old Jeddah</h5>
            <p class="card-text">This formerly walled city has mosques, traditional houses with wooden balconies, and bazaars in its narrow alleys.</p>
            <a href="https://maps.app.goo.gl/9JWBKe1CSMDkM3QL9" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/jeddah_city/king_city.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">King Abdullah Economic City</h5>
            <p class="card-text">King Abdullah Economic City is a new Saudi city with an economic nature. Its establishment was announced by the Custodian of the Two Holy Mosques, King Abdullah bin Abdulaziz, in 2005 AD. It is located in Rabigh Governorate, the Makkah Al-Mukarramah region, in Al-Qudaymah and Sabar.</p>
            <a href="https://maps.app.goo.gl/vvMBcef4yYJNRY4U6" class=" btn btn-outline-secondary">Visit The Location</a>
          </div>
        </div>
        
      </div>
      </div>
    </div>
</div>
    
<div class="jeddah primry-color ">
  <h2 id="Restaurants" class="text-center" >Restaurants</h2>
    <div class="container" >
      <div class="row align-items-center text-center" >
        
        <hr style="color: white;" >
        <div class="restaurants-cards" >
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/jeddah_city/tov.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Toforiah</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://maps.app.goo.gl/YSDGp2NH2cRaNeZQ7" class=" btn btn-outline-secondary">Visit The Location</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/jeddah_city/naforah.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Al Nafoura Restaurant</h5>
              <p class="card-text">An elevated restaurant overlooking the water at the Park Hyatt Resort, serving Middle Eastern grills and including an outdoor terrace</p>
              <a href="http://hyattrestaurants.com/en/dining/saudi-arabia/jeddah/middle-eastern-restaurant-in-al-hamra-district-nafoura" class=" btn btn-outline-secondary">Visit Website</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/jeddah_city/blue_ocean.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blue Ocean</h5>
              <p class="card-text">This cozy restaurant reflects the Miami atmosphere and serves popular American cuisine with varied drinks and ocean views.</p>
              <a href="https://maps.app.goo.gl/GFSAsuMWQ8d2hs1A7" class=" btn btn-outline-secondary">Visit The Location</a>
            </div>
          </div>
          
        </div>
        </div>
      </div>
      </div>
<div class="jeddah scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Hotels" class="text-center" >Hotels</h2>
      <div class="container primry-color " style="background-color: #ffffff;">
        <div class="row align-items-center text-center">
          
          <hr style="color: white;" >
          <div class="hotels-cards" >
            <div class="card primry-color" style="width: 18rem;">
              <img src="{% static 'images/jeddah_city/roz.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rosewood Jeddah Hotel</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span>Overlooking the Red Sea, this upscale hotel is a 6-minute walk from North Corniche Park and 2 km from Fakieh Aquarium.</p>
                <a href="https://maps.app.goo.gl/duP8bnsrAWVCcBTJ8" class=" btn btn-outline-secondary">Visit The Location</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/jeddah_city/venuo.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The Venue Jeddah Corniche Hotel</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span><br>This luxury hotel overlooks the Red Sea, 4 km from the Fakieh Aquarium, 9 km from Al Shallal Theme Park, and 18 km from King Abdulaziz International Airport.</p>
                <a href="https://maps.app.goo.gl/957LQmPugdpjtvp3A" class=" btn btn-outline-secondary">Visit The Location</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/jeddah_city/vivienda.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vivienda Hotel Villas, Jeddah</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="https://maps.app.goo.gl/8ySazr5nmPRdsswD6" class=" btn btn-outline-secondary">Visit The Location</a>
              </div>
            </div>
            
          </div>
          </div>
        </div>
        
    </div>
</div>



{% endblock %}

