{% extends 'main/base.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}


<div class="ruhv">
    <h1>Welcome To Jeddah</h1>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="/static/videos/Jeddah.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>
</div>
<hr>

<div class="header">
    <h1> Discover</h1>
</div>



<div class="container">

    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Al Balad</h2>
                <p>Before naming it as the royal seaport for Makkah at 657 AD, the Al-Balad site, “Historic
                    Jeddah”, was built on beautiful coastal land. It gathered people from all cultures and walks of life
                    throughout the ages. This part of the world unveils a human heritage whose walls challenged
                    different
                    historical factors with eight gates; each is known for its historical stories. In addition, it holds
                    more than
                    10 ancient houses praised for their distinctive designs and the names of their ancient families.
                </p>
            </div>
        </div>
        <div class="col order-1 order-md-2">
            <img class=" rounded-1" width="600" height="500" src="/static/images/AlBalad.jpeg" />
        </div>
    </div>

    <hr />
    <div class="row mt-3">
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Jeddah Yacht Club</h2>
                <p> Jeddah Yacht Club is the first club of its kind on Saudi’s west coast. While the club
                    itself is reserved for members and their guests, the marina is open to the public and lined with
                    high-end
                    restaurants and designer stores. You’ll also catch glimpses of some of the world’s top luxury yachts
                    as you
                    wander the waterfront .</p>
            </div>
        </div>
        <div class="col order-2 order-md-1">
            <img width="600" height="500" src="/static/images/YachtClub.jpeg" />
        </div>
    </div>


    <hr />
    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>King Fahd’s Fountain</h2>
                <p>Visible from all across the city, King Fahd Fountain is a much-loved Jeddah landmark and a
                    30-year-old monument in the middle of the Red Sea. At 312 meters high, its waters decorate the
                    sunset of
                    Jeddah, and whether you are thinking of taking a picture or a video of that magical scene, seeing
                    the fountain
                    will not seem impossible no matter how far away you are. As the spectacular display of the fountain
                    continues,
                    you can walk around and try different kinds of food along the various stalls in Alhamra Cornish.
                    Seven is the
                    most popular kiosk on the walkway.</p>
            </div>
        </div>
        <div class="col order-1 order-md-2">
            <img width="600" height="500" src="/static/images/KingFahd’sFountain.jpeg" />
        </div>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Fakieh Aquarium</h2>
                <p> The sprawling tunnels and vast tanks that make up the aquarium house over 200 species and
                    around 85 percent of them are native to Jeddah’s undisturbed coral reefs. It makes this colorful
                    window onto
                    the Red Sea the best way to experience the region’s vibrant underwater ecosystem without needing to
                    squeeze
                    into scuba gear.</p>
            </div>
        </div>
        <div class="col order-2 order-md-1">
            <img width="600" height="500" src="/static/images/Fakieh-Aquarium.jpeg" />
        </div>
    </div>


</div>



{% endblock%}