{% extends 'main/base.html' %}

{% block content %}


<div class="page-mecca">

    <div class="row-page">
    <div class="col-page">

     <h1>أكتشف مكة المكرمة</h1>
     <p> سميت قديماً ببكة، وأم القرى، والبلد الأمين، وشهدت جبالها أول مواطن نزول الوحي، كما يقف زوارها بدهشة أمام الكعبة المشرفة، قبلة المسلمين من شتى أنحاء العالم، تتوسط المسجد الحرام بمنظرها المهيب،<br> ويحفّها آلاف المصلين على مدار الساعة، حيث ترحب مكة المكرمة بملايين الزوار المسلمين الذين يقصدونها للحج أو العمرة، فهي أطهر البقاع، وأقدس وجهة إسلامية في العالم،</p>
     <br>
     <h3> المشاعر المقدسة</h3>
    </div>

</div>

<div class="container">
  
 
  <div class="box"> 
    <img src="/static/images/img1.png">
  </div>

  <div class="box"> 
    <img src="/static/images/img2.png">
  </div>

  <div class="box"> 
    <img src="/static/images/img3.png">
  </div> 

  <div class="box"> 
    <img src="/static/images/img4.png">
  </div>
  
</div>

 <div class="container-mecca">
  <h3>المتاحف والمعارض</h3>
  <h4>معهد المخطوطات وإحياء التراث الإسلامي</h4>
  <h4>مجمع الملك عبد العزيز للكسوة المشرفة ​</h4>
  <h4>برج الساعة (مركز علوم الكون)​</h4>
  
 </div>

 <div class="container-1">
 
  <div class="box"> 
    <img src="/static/images/makat101.png">
  </div>

  <div class="box"> 
    <img src="/static/images/makat102.png">
  </div>

  <div class="box"> 
    <img src="/static/images/makat103.png">
  </div> 
 
</div>

<div class="container-mecca">
  <h3>مطاعم و مقاهي في مكة المكرمة</h3>
 </div>

 <div class="container-2">
 
  <div class="box"> 
    <img src="/static/images/cofee.png">
  </div>

  <div class="box"> 
    <img src="/static/images/food.png">
  </div>

  
</div>
</div>

{% endblock %}