{% extends 'main/base.html' %}

{% block content %}


<div class="page-mecca">

    <div class="row-page">
    <div class="col-page">
    <br><br>
     <h1 class="h11">أكتشف مكة المكرمة</h1>
     <br>
     <h3> المشاعر المقدسة</h3>
    </div>

</div>

<div class="container">
  
 
  <div class="box"> 
    <img src="/static/images/makat103.png">
  </div>

  <div class="box"> 
    <img src="/static/images/makat110.jpg">
  </div>

  <div class="box"> 
    <img src="/static/images/makat111.jpg">
  </div> 

  <div class="box"> 
    <img src="/static/images/makat4.jpg">
  </div>
  
</div>

 <div class="container-mecca">
  <h3>المتاحف والمعارض</h3>

  
 </div>

 <div class="container-1">
 
  <div class="box"> 
    <img src="/static/images/makat101.png">
  </div>

  <div class="box"> 
    <img src="/static/images/makat102.png">
  </div>

  <div class="box"> 
    <img src="/static/images/makat103.png">
  </div> 
 
</div>

<div class="container-mecca">
  <h3>مطاعم و مقاهي في مكة المكرمة</h3>
 </div>

 <div class="container-2">
 
  <div class="box"> 
    <img src="/static/images/cofee.png">
  </div>

  <div class="box"> 
    <img src="/static/images/food.png">
  </div>

  
</div>
</div>

{% endblock %}