{% extends 'main/base.html' %}
{% block title %} Mekkah city {% endblock  %}

{% block continat %} 
<main>

    <div id="myCarousel" class="carousel slide mb-5 pointer-event " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://scth.scene7.com/is/image/scth/makkah-gates:crop-1160x650?defaultImage=makkah-gates&wid=2000&hei=1120" width="100%" height="100%" alt="">
            <div class="container ">
            <div class="carousel-caption text-start text-white">
              <h1>Mekkah region location.</h1>
              <p>The Makkah region is located in the west of the Kingdom of Saudi Arabia.</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/makkah-articles/al-masjed-alharam.jpg" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-white">
              <h1>Area of ​​the Makkah region</h1>
              <p>The area of ​​the Makkah region is approximately 153,148 km².</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://scth.scene7.com/is/image/scth/kabaa-door:crop-1160x650?defaultImage=kabaa-door&wid=2000&hei=1120" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-end text-white">
              <h1 >The greatest Islamic spot on earth</h1>
              <p>In the heart of Mecca, the Holy Mosque is located, with the Kaaba in the middle and the Well of Zamzam.</p>
              
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col text-center">
          <h1>Suggested places to visit</h1>
        </div>
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center ">
          <div class="mx-auto p-5">
          <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Cosmology Center</h2>
          <p class="lead ">Dedicated to learning about everything related to the universe in general, including stars, constellations, and astronomical phenomena.</p>
        </div>
        </div>
        <div class="col-md-5">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/makkah-articles/oclock-tower.jpg" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">Mount of Light and Hira Cave</h2>
            <p class="lead ">The mountain was given this name because the light of Islam emanated from it. At its top is the Cave of Hira, in which the Prophet Muhammad, may God bless him and grant him peace, worshiped before the mission, and in which the revelation came down to him.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://scth.scene7.com/is/image/scth/jabal-al-nour-ghar-hira:crop-375x210?defaultImage=jabal-al-nour-ghar-hira&wid=580&hei=324" class=" img-fluid mx-auto mt-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center">
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Hira Cultural Center</h2>
            <p class="lead ">A cultural tourist landmark, next to Mount Hira, that tells the story of the revelation and gives information about the mountain and the cave and their historical importance, and contributes to enriching the cognitive and cultural experience of visitors through its various components.​</p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="https://scth.scene7.com/is/image/scth/hira-cultural-district-tour:crop-1160x650?defaultImage=hira-cultural-district-tour&wid=2000&hei=1120" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
      <div class="row">
        <div class="col text-center mb-4">
          <h1>About Mekkah</h1>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">Between the past and the present</h2>
            <p class="lead ">The Kaaba remains in its beautiful shape and has not changed. The covering of the Kaaba changes every year on the Day of Arafat.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <video  loop autoplay  muted src="/static/video/Mekkah.mp4" type="video/mp4" class="object-fit-contain " width="500" height="500" autoplay ></video>        
        </div>
      </div>
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
  </main>
{% endblock  %}