{% extends 'main/base.html' %}

{% block content %}


<div class="page-mecca">

    <div class="row-page">
    <div class="col-page">

     <h3>أكتشف مكة المكرمة</h3>
    <p> سميت قديماً ببكة، وأم القرى، والبلد الأمين، وشهدت جبالها أول مواطن نزول الوحي، كما يقف زوارها بدهشة أمام الكعبة المشرفة، قبلة المسلمين من شتى أنحاء العالم، تتوسط المسجد الحرام بمنظرها المهيب،<br> ويحفّها آلاف المصلين على مدار الساعة، حيث ترحب مكة المكرمة بملايين الزوار المسلمين الذين يقصدونها للحج أو العمرة، فهي أطهر البقاع، وأقدس وجهة إسلامية في العالم،</p>
     <h4> المشاعر المقدسة</h4>
    </div>

</div>

<div class="container">
 
  
  <div class="box"> 
    <img src="/static/images/makat4.jpg">
  </div>

  <div class="box"> 
    <img src="/static/images/makat110.jpg">
  </div>

  <div class="box"> 
    <img src="/static/images/makat2.jpg">
  </div> 

  <div class="box"> 
    <img src="/static/images/makat111.jpg">
  </div>
  
</div>


</div>


</div>
{% endblock %}