{% extends 'main/base.html' %}

{% block content %}

<div class="riyadhpage">

    <div class="row">
        <div class="col">
            <h1> عاصمة المملكة العربية السعودية </h1>
          
            <br><br>
        
<h3> ستعد لرحلة لا تُنسى في العاصمة السعودية</h3>
<h1>عودة جديدة لموسم الرياض</h1>
<br>
</div>
<div class="col">
  <div class="card card1">
      <h5> بوليفارد</h5>
  </div>
  <div class="card card2">
     <h5>العلا</h5>
</div>
<div class="card card3">
  <h5> ذا جروفز</h5>

</div>
<div class="card card4">
  <h5> حديقة الحيوان بالرياض</h5>
</div>
 
<div class="videos1">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ABZpTFwZtUw?si=EJPewUom_Mg5hEs-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
 

{% endblock %}