
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Riyadh{% endblock %}
{% block content %}

<div class="riyadh">
  <h1 class="text-center">Riyadh City</h1>
  <div class="container" >
    
    <div class="row align-items-center text-center">    
      <div class="col-12 align-items-center  text-center" >
        <div class="row align-items-center text-center text-dark"style="border: 1px; border: radius 20px;">
          <div id='back' class="page-title" >
            <hr style="color: white;" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jwe17O5Yd1M?si=mGWF-y1jkxknERsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
            <div class="row align-items-center text-start ">
              <div class="city-intro">
                <hr style="color: white;" >
                  <h2>Riyadh City Explore the Undiscovered:</h2>
                
                  <p>Riyadh is the capital of the Kingdom of Saudi Arabia, its largest city and the third largest Arab capital in terms of population.
                    The Riyadh region is distinguished by being the starting point for the unification of the country, and its headquarters is the city of Riyadh, the capital of the country, the seat of government and administration, and the largest urban center in the country. Despite its natural characteristics and vast area, it is considered, from a geographical and historical perspective, a region similar in its characteristics and features.</p>
    
              </div>
          </div>
         
    
      </div>

    </div>
  </div>
</div>

<div class="riyadh scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Tourist-place" class="text-center" >Tourist places</h2>
  <div class="container primry-color " style="background-color: #ffffff;" >
    <div class="row align-items-center text-center">
      
      <hr style="color: white;" >
      <div class="tourist-places-cards" >
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/riyadh_city/diriyah.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diriyah</h5>
            <p class="card-text">Diriyah is known for its traditional mud-brick architecture and is home to the restored Al-Bujairi district, a network of winding pedestrian alleys filled with cafés and artisanal goods stores.</p>
            <a href="https://maps.app.goo.gl/mPagYxACNDs7wSi5A" class=" btn btn-outline-secondary">Visit the location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/riyadh_city/poly.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">boulevard Riyadh City</h5>
            <p class="card-text">A stunningly designed pedestrian area with modern lighting fixtures, fashion stores and gourmet street food</p>
            <a href="https://maps.app.goo.gl/Lk2oByjHHXM6Rnro8" class=" btn btn-outline-secondary">Visit the location</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/riyadh_city/roshen.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Roshen</h5>
            <p class="card-text">This stylish mall features an outdoor water fountain, luxury shops, cozy restaurants and a movie theater.</p>
            <a href="https://maps.app.goo.gl/fiyuHg7DvyCLXriE7" class=" btn btn-outline-secondary">Visit the location</a>
          </div>
        </div>
        
      </div>
      </div>
    </div>
</div>
    
<div class="riyadh primry-color ">
  <h2 id="Restaurants" class="text-center" >Restaurants</h2>
    <div class="container" >
      <div class="row align-items-center text-center" >
        
        <hr style="color: white;" >
        <div class="tourist-places-cards" >
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/riyadh_city/diriyah.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diriyah</h5>
              <p class="card-text">Diriyah is known for its traditional mud-brick architecture and is home to the restored Al-Bujairi district, a network of winding pedestrian alleys filled with cafés and artisanal goods stores.</p>
              <a href="https://maps.app.goo.gl/mPagYxACNDs7wSi5A" class=" btn btn-outline-secondary">Visit the location</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/riyadh_city/poly.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">boulevard Riyadh City</h5>
              <p class="card-text">A stunningly designed pedestrian area with modern lighting fixtures, fashion stores and gourmet street food</p>
              <a href="https://maps.app.goo.gl/Lk2oByjHHXM6Rnro8" class=" btn btn-outline-secondary">Visit the location</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/riyadh_city/roshen.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roshen</h5>
              <p class="card-text">This stylish mall features an outdoor water fountain, luxury shops, cozy restaurants and a movie theater.</p>
              <a href="https://maps.app.goo.gl/fiyuHg7DvyCLXriE7" class=" btn btn-outline-secondary">Visit the location</a>
            </div>
          </div>
          
        </div>
        </div>
      </div>
      </div>
<div class="riyadh scand-color" style="margin-top: 20px; border-radius:0;" >
  <h2 id="Hotels" class="text-center" >Hotels</h2>
      <div class="container primry-color " style="background-color: #ffffff;">
        <div class="row align-items-center text-center">
          
          <hr style="color: white;" >
          <div class="hotels-cards" >
            <div class="card primry-color" style="width: 18rem;">
              <img src="{% static 'images/riyadh_city/radisson.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Radisson Blu Hotel, Riyadh Cordoba</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="#" class=" btn btn-outline-secondary">Visit the location</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/riyadh_city/brera.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Brera Hotel</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="https://maps.app.goo.gl/zAyoUURSNL87d8r76" class=" btn btn-outline-secondary">Visit the location</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/riyadh_city/fairmont.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fairmont Riyadh</h5>
                <p class="card-text"><span class="material-symbols-outlined">
                  star star star star star
                  </span></p>
                <a href="https://maps.app.goo.gl/Zr8WyrfteV2QzAc69" class=" btn btn-outline-secondary">Visit the location</a>
              </div>
            </div>
            
          </div>
          </div>
        </div>
        
    </div>
</div>



{% endblock %}

