{% extends 'main/base.html' %}
{% block title %} Riyadh city {% endblock  %}

{% block continat %} 
<main>

    <div id="myCarousel" class="carousel slide mb-5 pointer-event " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/riyadh-articles/burj-alfaisaliah-in-riyadh.jpg" width="100%" height="100%" alt="">
            <div class="container ">
            <div class="carousel-caption text-start text-white">
              <h1>Riyadh region location.</h1>
              <p>The Riyadh region is located in the center of the Kingdom of Saudi Arabia.</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="https://scth.scene7.com/is/image/scth/addoho-neighborhood:crop-1160x650?defaultImage=addoho-neighborhood&wid=2000&hei=1120" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-white">
              <h1>Area of ​​the Riyadh region</h1>
              <p>The area of ​​the Riyadh region is approximately 380,000 km2.</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://scth.scene7.com/is/image/scth/tinhat:crop-1160x650?defaultImage=tinhat&wid=2000&hei=1120" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-end text-white">
              <h1>Climate of the region</h1>
              <p>The Riyadh region currently has a desert climate.</p>
              
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col text-center">
          <h1>Suggested places to visit</h1>
        </div>
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center ">
          <div class="mx-auto p-5">
          <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Saudi National Museum </h2>
          <p class="lead ">From the Earth to the Moon, and from prehistoric times to the modern era, the corridors of the Saudi National Museum take you on an exciting journey, transcending time and space, and standing on artistic and historical evidence in the heart of the city of Riyadh..</p>
        </div>
        </div>
        <div class="col-md-5">
          <img src="https://photos.mandarinoriental.com/is/image/MandarinOriental/riyadh-experiences-national-museum-of-saudi-arabia" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">Edge of the world</h2>
            <p class="lead ">An ideal destination for mountain climbing and hiking enthusiasts, at the end of the Tuwaiq Mountains, which extend about 800 km, there is a high overlook called the Edge of the World, at an altitude of 1,131 m and 100 km from the city of Riyadh. Step out to discover a breathtaking, enchanting view.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/riyadh-articles/edge-of-the-world.jpg" class=" img-fluid mx-auto mt-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 text-center">
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4">Discover the Riyadh Zoo</h2>
            <p class="lead ">While traveling to the capital, Riyadh, whether you are with your children or friends, do not miss the opportunity to visit the zoo, which includes more than 1,300 animals from 190 species in 6 natural protected areas. Its visit will fill you with joy and entertainment.</p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="https://scth.scene7.com/is/image/scth/two-giraffes-at-the-riyadh-zoo:crop-1160x650?defaultImage=two-giraffes-at-the-riyadh-zoo&wid=2000&hei=1120" class=" img-fluid mx-auto my-5" width="500" height="500"  role="img"  alt="..."><title>Placeholder</title> 
        </div>
      </div>
  
      <hr class="featurette-divider">
      <div class="row">
        <div class="col text-center mb-4">
          <h1>About Riyadh</h1>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-7 order-md-2 text-center " >
          <div class="mx-auto p-5">
            <h2 class="featurette-heading fw-normal lh-1 mx-auto p-2 pb-4 ">Between the past and the present</h2>
            <p class="lead ">The city of Riyadh has undergone a major transformation in recent years. It has come to bear the sophistication of the future and the authenticity of the past.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <video controls loop muted src="/static/video/Riyadh.mp4" type="video/mp4" class="object-fit-contain " width="500" height="500" autoplay ></video>        
        </div>
      </div>
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
  </main>
{% endblock  %}