{% extends 'main/base.html' %}

{% block content %}

<div class="riyadhpage">

    <div class="row">
        <div class="col">
          <br><br>
            <h1> عاصمة المملكة العربية السعودية </h1>
            <br><br>
        <h5> أستعد لرحلة لا تُنسى في العاصمة السعودية</h5>
        <h5>عودة جديدة لموسم الرياض</h5>
<br>
</div>
<div class="col">
  <div class="card card11">
      <h5> بوليفارد</h5>
  </div>
  <div class="card card22">
     <h5>العلا</h5>
</div>
<div class="card card33">
  <h5> ذا جروفز</h5>

</div>
<div class="card card44">
  <h5> حديقة الحيوان بالرياض</h5>
</div>
 
<div class="videos1">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ABZpTFwZtUw?si=EJPewUom_Mg5hEs-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
 

{% endblock %}