{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="justify-content: center;margin: 5%;padding-top: 100px;">
    <div class="row">
        <div class="col-4">
            <div class="card bg-c-blue order-card" style="align-items: center;">
                <div class="card-block">
                    <p><h6 >Tourism Guidance</h6><span class="material-symbols-outlined">map</span></p>
                    <a href="http://127.0.0.1:8000/tourism/guidance/" style=" color: rgb(208, 158, 255);">select here</a>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card bg-c-blue order-card" style="align-items: center;">
                <div class="card-block">
                    <p><h6 >Travel And Tourism Services</h6><span class="material-symbols-outlined">home_repair_service</span></p>
                    <a href="http://127.0.0.1:8000/travel/" style=" color: rgb(208, 158, 255);">select here</a>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card bg-c-blue order-card" style="align-items: center;">
                <div class="card-block">
                    <p><h6 >Events</h6><span class="material-symbols-outlined">event</span></p>
                    <a href="http://127.0.0.1:8000/event/" style=" color: rgb(208, 158, 255);">select here</a>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}