{% extends 'main/base.html' %}

{% block content %}

<div class="video-container">

    <video autoplay muted loop>
      <source src="/static/videos/video2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  
</div>
<div class="h1">
<h1>تبوك - مزيج العراقة والحداثة</h1>
<p>تصدح سماء منطقة تبوك بفنون شعبية تخالطها ألحان الربابة وقصائد نبطية مغناة، ويعود تاريخ بعض آثار المنطقة<br> إلى ما قبل الميلاد بـ 500 عام،<br> إذ تزخر بمعالم أثرية مملؤة بالقصص التاريخية الخالدة،<br> وقد كانت معبرًا للتجار قديمًا، بسبب موقعها في شمال غربي شبه الجزيرة العربية. وتجود أرضها الخصبة بمحاصيل تنافس الأسواق العالمية</p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<div class="am">
    
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_-MbIImH3S0?si=WdTA17RRBsB9kvkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
 <div class="col">
    <div class="card card1111">
        <h5> متحف البيت الطيني</h5>
    </div>
    <div class="card card2222">
       <h5>جبل اللوز في تبوك </h5>
  </div>
  <div class="card card3333">
    <h5> لبس الثقافة تبوك</h5>
  
  </div>
  <div class="card card4444">
    <h5>وادي قراقر</h5>
  </div>
<br><br>
{% endblock %}

