{% extends 'base.html' %}

{% load static %}

{% block title %}Tourister - Home{% endblock %}

{% block content %}
    <div class="container mt-5" style="position: relative;">
        <h1 class="display-4">Welcome to Tourister</h1>
        <div class="background-image" style="background-image: url('{% static 'images/home-image.jpg' %}');"></div>
        <p class="lead">{{ general_description }}</p>
        
        <ul class="list-group mb-4">
            {% for city in cities %}
                <li class="list-group-item">
                    <a href="city/{{city.name}}" class="text-decoration-none">{{ city.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for city in cities %}
                    {% for i in numbers %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{% static 'images/static_city_images/' %}{{ city.name|slugify }}_{{ i }}.jpg" class="d-block w-100" alt="{{ city.name }} Image {{ i }}">
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
