{% extends 'Tourism_main/base.html' %}
{% load static %}

{% block contant %}
<div class="alula-container">
</div>
<div  class="title-container-ganerl">
    <h1 class="title">ALULA</h1>
    <p>We invite you to visit this vibrant museum dating back thousands of years .</p>
    
</div>
   <div class="card card-container-all">
      <div class="card-body ">
        <h5 class="card-title">Here is AlUla...an incubator of natural beauty and unique human heritage</h5>
        <p class="card-text">
             which is based on a constellation of natural and human wonders spread throughout it,<br>
             and travel on a journey through time to learn about historical sites <br>
            that have been preserved over the centuries,and enjoy watching sand rock formations, <br>
            ancient dwellings, and monuments carved by hand.<br>
            Nature and its creation are human will.These landmarks are full of human heritage dating back 200,000 years,<br>
            most of which has not yet been explored.If the Kingdom of Saudi Arabia constitutes a meeting place for<br>
            ancient civilizations,then AlUla is the source of those civilizations.
      </div>
      <iframe class="iframe-all" src="https://www.youtube.com/embed/emvy30hUfoE?si=Zagy-fhk4C_-jk7_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="card-text location-container"><small class="text-body-secondary">To explore this tourist area more, go to the location <a class="location" href="https://maps.app.goo.gl/aoq3JYsnB4dVooXZA?g_st=iw"> ALULA </a> .</small></p>
   </div>
   <h1 class="title-cocontainer-all">Explore AlUla </h1>
   <div class="subcard-container-all">
    <div class="card-base">
        <div class="row row-cols-1 row-cols-md-2 g-4 ">
            <div class="col">
                <div class="card"> 
                    <img  class="img-card" src="\static\img\OldAlula.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title allcard1">OLD TOWN ,Stroll among the ruins of mudbrick buildings dating back almost a millennium</h5>
                    <p class="card-text allcard1">The ancient city's landmarks tell the story of its human civilization that flourished on ancient trade routes. 
                    The old town, part of the old town of AlUla, which was named the best tourist village by the World Tourism Organization, 
                    includes a maze of archaeological alleys with hundreds of mud-brick houses and a historic castle guarding its wall.
                    The ancient people of Al-Ula built their city from mud houses lined up next to each other like an impenetrable fortress,
                    to defend themselves and protect their city from external dangers. In the past, 
                    the city wall included 14 gates that the people of Al-Ula opened in the morning and closed in the evening daily over the years.
                        Researchers and historians were able to collect oral memories and details of daily life within the town walls, 
                        and these stories will be available to introduce visitors to the old town of AlUla to the living memory of this exceptional destination.</p>
                        <a href="https://www.experiencealula.com/ar/discover-alula/alula-old-town-village" class="btn btn-primary button"> To Discover More</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-card" src="\static\img\TheOasis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title allcard1">THE OASIS AlUla's Ancient Agricultural Heartland</h5>
                        <p class="card-text allcard1">The Oasis is part of the AlUla Old Town Village, awarded title of Best Tourism Village by the United Nations World Tourism Organization (UNWTO).
                        Ancient civilisations have cultivated this spring-fed oasis for millennia, and today it remains a lush and fertile plain with sustainable farming at its core.
                        Idyllic walking trails meander though picturesque scenery too, while a collection of cafes and restaurants offer a wealth of welcoming spots for rest, relaxation and contemplation.
                        </p>
                        <a href="https://www.experiencealula.com/ar/discover-alula/alula-old-town-village/the-oasis" class="btn btn-primary button"> To Discover More</a>
                        </div>
                    </div>
                    </div>
            <div class="col ">
            <div class="card">
                <img class="img-card" src="\static\img\card1Alula.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title  allcard1"> The most famous rock formations in AlUla</h5>
                <p class="card-text allcard1"> The Elephant Mountain sits on the golden sands of the desert with an eye-catching sight,
                    and embraces the AlUla sky with its body and trunk at a height of 52 metres. Visit this giant rock,
                    carved by wind and rain over millions of years, to explore AlUla's most famous geological wonders.
                    We advise you to visit the place to enjoy the most beautiful moments when the sunset reflects the colors 
                    of the sun in a romantic scene on the vast desert horizon</p>
                    <a href="https://www.experiencealula.com/ar/discover-alula/nature-outdoors/elephant-rock" class="btn btn-primary button"> To Discover More</a>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img class="img-card" src="\static\img\jabal-ikmah.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title allcard1">JABAL IKMAH , Millennia Etched in Stone</h5>
                <p class="card-text allcard1"> Considered one of the archaeological sites in Al-Ula. It includes thousands of writings 
                    and inscriptions dating back to distant times, preceding the emergence of the Arabic language that we know today.
                    However, the evidence found in Jabal Ikma has an exceptional historical status. UNESCO has officially included Mount
                    Ikma on the “Memory of the World” register to emphasize the importance of the writings and inscriptions engraved on its rocks 
                    thousands of years ago. We invite archeology lovers to visit this exceptional site, dating back to around the first millennium BC,
                    and dive into the world of the past. The rock-carved art depicts human faces, musical instruments, and animals to tell the stories of the Dedanite and 
                    Lihyanite civilizations that settled in the land of Al-Ula.</p>
                    <a href="https://www.experiencealula.com/ar/discover-alula/heritage/jabal-ikmah" class="btn btn-primary button"> To Discover More</a>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="img-card" src="\static\img\AdventureAlula.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title allcard1">ADVENTURE IN ALULA ,Exciting activities and experiences</h5>
                    <p class="card-text allcard1"> AlUla offers adventures that go beyond expectations. Thrillseekers can zipline through,
                        climb up, or abseil down majestic mountains. Explore the serene beauty of AlUla’s dramatic landscape on a guided biking or hiking experience.
                        Take to the skies in a helicopter or hot air balloon to gaze over breathtaking panoramas.
                        Come nightfall, join guides on a stargazing adventure and look up in awe at the multitude of constellations twinkling above you. 
                        There’s something to do every day, and night, in AlUla.
                    </p>
                    <a href="https://www.experiencealula.com/ar/discover-alula/adventure" class="btn btn-primary button"> To Discover More</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-card" src="\static\img\MarayaAlula.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title allcard1">MARAYA Reflecting AlUla’s Beauty, the World’s Largest Mirrored Building</h5>
                        <p class="card-text allcard1"> Meaning ‘mirror’ or ‘reflection’ in Arabic, 
                            Maraya is a stunning piece of art set in the desert canyon of Ashar Valley. Designed to blend into the surrounding landscape,
                            it rises from the sand like a mirage. The state-of-the-art structure is covered in 9,740 mirrored panels reflecting AlUla's beauty and,
                            according to Guinness World Records, making it the largest mirrored building in the world. 
                            Maraya also celebrates AlUla's significant role in history as a crossroads of cultures for centuries. 
                            The mirrors themselves become a contemporary canvas, reflecting the area’s remarkable heritage.
                        </p>
                        <a href="https://www.experiencealula.com/ar/business-special-events/maraya" class="btn btn-primary button"> To Discover More</a>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
  </div>


    {%endblock%}