{% extends 'Tourism_main/base.html' %}
{% load static %}



{% block contant %}
<div class="video-container">
    <video autoplay muted loop>
        <source src="/static/videos/ved.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="contant">
        <h2>Welcome To Saudi Tourism <br>
        It is your first destination for entertainment</h2>

    </div>
    <div class="content-container">
        <h5>Tourism in the Kingdom is one of the main pillars of Vision 2030, and recreational and 
            religious tourism in the Kingdom of Saudi Arabia is one of the most important types of tourism. It is bordered to the northwest by Jordan,
            to the northeast by Iraq and Kuwait, to the east by Bahrain and Qatar, and the Sultanate of Oman and Yemen to the south, and thus many residents of those countries go to it,
            and the Kingdom is home to the two holy Islamic cities: Mecca and Medina, and this What made all Muslims wish to go there, 
            and of course besides the tourist areas in which they are located.</h5>
        
    </div>
</div>

{%endblock%}