{% extends 'Tourism_main/base.html' %}
{% load static %}



{% block contant %}
   <div class="makkah-container">

  </div>
  <div  class="title-container-ganerl">
    <h1 class="title">Makkah</h1>
    <p>
      Mecca is one of the first and very important cities in religious tourism..</p>
    
</div>
   <div class="card card-container-all">
      <div class="card-body ">
        <h5 class="card-title">Here is Makkah...Religious tourist destination</h5>
        <p class="card-text">
        Mecca Al-Mukarramah is the mother of villages, and the most sacred city in the world for Muslims. That city embraces the Sacred Mosque with its Holy Kaaba, the purest place on earth ever. Therefore, tourism in Mecca occupies a special place in the hearts of millions, as it is an activity that combines the spirituality of religion, the nobility of the past, and the modernity of the future. All of this contributed to the inclusion of Mecca among the list of the most attractive cities in the world for travelers.
      </div>
      <iframe class="iframe-all" src="https://www.youtube.com/embed/Rf5NEKXzOPk?si=DdNBmxW2Z1sS7EwB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="card-text location-container"><small class="text-body-secondary">To explore this tourist area more, go to the location <a class="location" href="https://maps.app.goo.gl/TMqBnUnYRfXUJQuF8?g_st=iw"> Makkah </a> .</small></p>
   </div>
   <h1 class="title-cocontainer-all">Explore Makkah </h1>
   <div class="subcard-container-all">
    <div class="card-base">
        <div class="row row-cols-1 row-cols-md-2 g-4 ">
            <div class="col">
                <div class="card">
                    <img  class="img-card" src="\static\img\kaaba.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title allcard1">Holy Kaaba</h5>
                    <p class="card-text citycard1">The Holy Kaaba is considered one of the most important and holiest religious places in the whole year, and many Muslim pilgrims come to it annually.The Kaaba is located in the middle of the Grand Mosque. The angels raised it for the first time, then it was built by the Prophet of God Abraham and his son Ishmael, peace be upon them, after the flood of Noah, peace be upon him. Since then, it has had a place in hearts, as it is the direction of prayer, and pilgrims circumambulate around it.
                      ​</p>
                      <p class="card-text citycard1">In the Kaaba there is the Ishmael Stone
                        It is the spot between the door and the shrine, and it was given this name because Abraham, peace be upon him, designated it for the shelter of his son Ishmael and his sheep, and it was first part of the Holy Kaaba.
                        Also, the Black Stone is located in the southeastern corner of the Holy Kaaba inside a silver flint. It is the starting and ending point for the circumambulation around the Kaaba.</p>
                        <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1qNmtePKRU0nQENCByHZj3wMtUaE&hl=ar&ll=21.422530000000005%2C39.82619000000001&z=17" class="btn btn-primary button"> Go to the location </a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-card" src="\static\img\zamzam.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title allcard1">Zamzam Well</h5>
                        <p class="card-text allcard1">
                          It is considered the most prominent tourist attraction in Mecca. When Ismail was an infant with his mother, Mrs. Hajar, in Mecca, which was devoid of life at that time, God poured water from under his little feet from the well of Zamzam until it overflowed, and had Mrs. Hajar not held it in her hand, it would have been a river.
                          
                          The depth of the well is 30 meters, and it is located 21 meters from the Holy Kaaba. Recent studies have confirmed that the springs feeding the well pump between 11 and 18.5 liters per second.
                        </p>
                        <a target="_blank" href="https://maps.app.goo.gl/vidLHG6WmT2ZpJEr8?g_st=iw" class="btn btn-primary button">  Go to the location</a>
                        </div>
                    </div>
                    </div>
            <div class="col ">
            <div class="card">
                <img class="img-card" src="\static\img\Abraham.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title  allcard1"> The Position Of Abraham</h5>
                <p class="card-text allcard1">
                  It is a cubic stone with three dimensions - length, width and height - about half a meter, and its color is medium between black, white and yellow. It is now placed inside a glass room covered with copper. This is the stone on which the Prophet Abraham, peace be upon him, stood when raising the foundations of the Holy Kaaba. It is also stone. Who raised the call to prayer and called people to Hajj after the completion of construction, and because it was a soft stone, Abraham’s feet sank into the stone and their traces remained in it to this day, and behind its current location, pilgrims and Umrah pilgrims pray the two rak’ahs of Tawaf.
                  The true religion pointed out the virtues of Abraham’s position, as it is one of the rubies of Paradise.</p>
                    <a target="_blank" href="https://maps.app.goo.gl/pvp7gaS3TFQoJpt38?g_st=iw" class="btn btn-primary button"> Go to the location</a>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img class="img-card" src="\static\img\safa-marwa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title allcard1">Safa & Marwa</h5>
                <p class="card-text citycard1"> Safa and Marwa
                  They are the two mountains located east of the Grand Mosque, and they are made of smooth, smooth stones, and walking between them is one of the rituals of Hajj and Umrah that God Almighty has commanded. In memory of Mrs. Hajar, peace be upon her, who ran seven times between Safa and Marwah in search of water for her infant son, the Prophet of God, Ishmael, until Zamzam gushed out from under his noble feet, so she drank and breastfed her son.
                  
                  The road between the two mountains is called Al Masa’a, and it is currently within the scope of the Grand Mosque</p>
                    <a target="_blank" href="https://maps.app.goo.gl/pvp7gaS3TFQoJpt38?g_st=iw" class="btn btn-primary button">Go to the location</a>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="img-card" src="\static\img\ArafatMountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title allcard1">Arafat Mountain</h5>
                    <p class="card-text allcard1">
                      It is considered the basis of tourism in Mecca. It is about 22 km east of Mecca, 10 km from Mina, 6 km from Muzdalifah, with a length and width of two miles each. Arafat is formed from a flat plain surrounded by a series of mountains in the form of an arc.
                      The importance of Mount Arafat as one of the most important tourist places in Mecca comes from the fact that the Hajj is not valid without it. Visitors to the House of the Most Gracious must stop at Arafat on the ninth of Dhul-Hijjah, otherwise the Hajj will be invalid. It was said that its name came from it being a place where people got to know each other, and it was said that when Adam and Eve landed From Paradise they met in Him and He knew her and she knew him, and it was said that because people confess their sins to Him.
                    </p>
                    <a target="_blank" href="https://maps.app.goo.gl/hYBEQbt2L5evUHpv8?g_st=iw" class="btn btn-primary button">Go to the location</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-card" src="\static\img\nourMountain.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title allcard1">Al-Nour Mountain</h5>
                        <p class="card-text allcard1">
                          It is an essential destination when traveling to Mecca, and it was given this name because it is the starting point of the ray of light of truth and the gluey heavenly message that illuminated all parts of the globe. It is also known as the “Mount of Islam,” as it is the mountain in which the Cave of Hira is located, which was the headquarters for worshiping the Holy Prophet and exploring the kingdom of God. The heavens and the earth are far from the nonsense of ignorance.
                          Jabal Al-Nour is the same cave that witnessed the first revelation of verses from the Holy Quran. Therefore, this mountain is considered one of the most important historical and religious monuments in Mecca, and its total area is five and a half square kilometers.
                        </p>
                        <a target="_blank" href="https://maps.app.goo.gl/6KC8AjAXr1fXfDoSA?g_st=iw" class="btn btn-primary button">Go to the location</a>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
   </div>
   
    {%endblock%}