{% extends 'Tourism_main/base.html' %}
{% load static %}



{% block contant %}
   <div class="riyadh-container">

   </div>
   <div class="title-container-riyadh">
      <h1 class="title-riyadh">Riyadh</h1>
      <h3 class="contant-riyadh">The city of Riyadh is the capital of the Kingdom of Saudi Arabia. Riyadh is considered one of the largest cities in the Kingdom in terms of area and population.
          It is also considered one of the most developed and civilized cities in the Kingdom.
          Riyadh is characterized by prosperity and great development, and Riyadh is considered the political and administrative interface of the Kingdom. 
         It includes a number of landmarks. Follow with us to explore them</h3>
   </div>
   <h1 class="subcontant">Riyadh is a different tourist destination to explore, Continue with us</h1>
   <div class="KingdomTower">
      <img class="img-KingdomTower" src="\static\img\kingdomTower1.jpg" >
      <div class="contant-KingdomTower">
            <h5 class="subcontant">Kingdom Tower</h5>
            <p >The Kingdom Center has always been an architectural symbol in the heart of the Saudi capital, Riyadh, since its establishment in the late 1990s. It is considered one of the most prominent tourist attractions and highlights one of the most important road intersections in Riyadh.
               The Kingdom Center is a unique landmark in the Kingdom of Saudi Arabia, as it is accompanied by world-class facilities, unique from the finest international and local markets. The center emphasizes a diverse shopping experience,
               and looks forward to its commercial complex featuring a variety of international and winning brands, so that one can find enjoyable and rewarding shopping opportunities, with a wide range of options.
               The Kingdom Center is a pioneering, mixed-use project, a Four Seasons hotel, office space, residential apartments, a conference, exhibition and wedding hall, and a business centre.</p>
               <a target="_blank" href="https://maps.app.goo.gl/QNjgGb9BghQbwCeL9?g_st=iw"><button>Go to the location</button> </a> 
      </div>
   </div>
   <h5 class="subcontant">To explore the Kingdom Tower and the tourist and entertainment areas it contains, continue </h5>
   
   <div>
      <div id="carouselExampleCaptions" class="carousel slide carousel-riyadh">
         <div class="carousel-indicators">
           <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
           <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
         </div>
         <div class="carousel-inner ">
           <div class="carousel-item active">
             <img class="img-carousel-riyadh" src="\static\img\the-sky-bridge.jpg" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
               <h5>Sky Bridge</h5>
               <p>As far as the eye can see… Kingdom Centre clinch a vision of the future with the sky bridge which commands
                   a remarkable view of Riyadh city unrivalled by any other.</p>
             </div>
           </div>
           <div class="carousel-item">
             <img  class="img-carousel-riyadh" src="\static\img\hotel1.jpg" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
               <h5>Four Seasons Hotel</h5>
               <p>Close to the city’s commercial and diplomatic quarter, ultra-chic Four Seasons sits high within the soaring Kingdom Centre tower.</p>
             </div>
           </div>
           <div class="carousel-item">
             <img  class="img-carousel-riyadh" src="\static\img\mall2.jpg" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
               <h5 id="mall2">Kingdom Tower Mall</h5>
               <p id="mall2">The Kingdom Tower Mall consists of three floors, offering a wide range of brands and shops, and one of the most beautiful things about the mall is the Women’s Kingdom, which is an entire floor dedicated to everything a woman is looking for in various fields of elegance and fashion, in addition to a children’s amusement park,
                   and a food hall that includes a number of A large number of international restaurants and cafes</p>
             </div>
           </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>

       <br />
   
       <div>
         <h3 class="first-cintant-faisaliahTower">There is also Al-Faisaliah Tower, which has a tourist and entertainment aspect. You cannot miss the opportunity to
             visit one of the tallest skyscrapers in the country, 
            the fourth tallest skyscraper in the country and the 325th tallest in the world.</h3>
       </div>
       <div class="KingdomTower">
         <img class="img-KingdomTower" src="\static\img\faisaliahTower1.jpg" >
         <div class="contant-KingdomTower">
               <h5 class="subcontant">Faisaliya Tower</h5>
               <p >Exploring Saudi Arabia, you cannot miss the opportunity to visit one of the for skyscrapers in the country, which is also the first skyscraper to be installed here, 
                  Al Faisaliah Tower. Being a commercial complex in Riyadh, this building provides some of the most iconic views of the city from above, which is why it is a famous landmark in the city. With so many amenities and great places to explore within,
                   from shopping malls to ever-growing theme parks, there's plenty to look forward to.</p>
               <p>The first floors include large shops.
                  Luxury restaurant in the glass ball tower. A 5-star luxury hotel extending over 8 floors.
                  Commercial offices. An open-air concert hall that can accommodate 4,000 people.
                  Open floors to view Riyadh at the top of the tower. 30 floors above the ground. 30 elevators.</p>
                  <a target="_blank" href="https://maps.app.goo.gl/Tzx5QP9r3hZy9Rhe6?g_st=iw"><button>Go to the location</button> </a> 
         </div>
      </div>
   </div>


   <h3 id="historical-landmarks">Riyadh includes historical landmarks that must be visited and enjoyed with history stories. Continue with us to get to know them</h3>
   <div class="KingdomTower">
      <div class="contant-KingdomTower">
            <h5 class="subcontant">Al Masmak Palace</h5>
            <p >The construction of Al-Masmak Palace dates back to the year 1895 during the reign of Muhammad bin Abdullah bin Rashid at the hands of builders who were keen to create it in a style similar to the buildings of the Emirate of Rashid.
                The palace is considered to have an important historical status in the Kingdom of Saudi Arabia and one of the national monuments due to it being a battlefield in which King Abdulaziz Al Saud of the city of Riyadh after a great epic against the Rashid family in 1902. 
                The palace was used from then on as a fortress to store ammunition and weapons. It was then transformed into a distinguished archaeological museum that was opened in 1995 AD under the supervision of Prince Salman bin Abdulaziz after it was prepared and restored by the Riyadh Municipality. 
                With the participation of the Ministry of Education and the Higher Authority for Development,the reason for calling Al-Masmak Palace this name is due to its old name, which is Al-Masmak Palace,
                which was called due to the thickness of its walls and multiple floors.</p>
            <p>Although it is considered an archaeological and historical place; However, you can visit it and do some recreational activities in addition to those that help you enrich the historical culture.</p>
               <a target="_blank" href="https://maps.app.goo.gl/NwiSZdAuWhCaP2Jr7?g_st=iw"><button>Go to the location</button> </a>
               
      </div>
      <img class="img-KingdomTower" src="\static\img\masmak1.jpg" >
   </div>

   <div class="KingdomTower">
      <img class="img-KingdomTower" src="\static\img\national-museum.jpg" >
      <div class="contant-KingdomTower">
            <h5 class="subcontant">Saudi National Museum</h5>
            <p >From the Earth to the moon, and from prehistoric times to the modern era, the corridors of the Saudi National Museum take you on an exciting journey, transcending time and space, and standing on artistic and historical evidence in the heart of the city of Riyadh in the Al-Murabba’ district, next to King Abdulaziz Palace, where the museum opened in the year 1419 AH, on an area of 17 thousand square meters, in which the stories of 3,700 heritage pieces are spread, including statues, manuscripts, and unparalleled sculptures.</p>
               <a target="_blank" href="https://maps.app.goo.gl/7noK1yX6Lenr3dTp6?g_st=iw"><button>Go to the location</button> </a>
               
      </div>
     
   </div>
   

     
         <h3 id="introduction2">"Historic Murabba Palace"
            A window into Riyadh's past, and a scene from its ancient memory, is embodied in the walls of the historic Murabba Palace, which covers an area of 1,680 square meters, as it overflows with the memory of the place, the historical events that it witnessed, and the glory that was created on its land.</h3>
         <div class="KingdomTower">
            <div class="contant-KingdomTower">
                  <h5 class="subcontant">Authentic Urban Heritage</h5>
                  <p >During your visit to the historic Murabba Palace, you will notice the distinctive design of the inner courtyard in the middle of the palace, overlooked by all rooms. It was built in the prevailing manner at that time, conveying to us a unique architectural art. The surrounding environment left its mark on the components of the palace, as the rooms and their ceilings were covered with tamarisk trunks and decorated with palm branches and fronds. The palace’s bases were made of stone, and its walls were made of mud bricks mixed with straw. They were also decorated with engravings and decorations printed on plaster. Despite the simplicity of the building's features,
                      its beauty was evident in the winding columns that support the palace's rooms and corridors.</p>
                  <p>The palace is characterized by a square-shaped building surrounded by walls, in a depiction and embodiment of the nature of the local community that maintains the privacy of homes. It contains 32 rooms distributed over two floors, in addition to reception halls for the king’s guests, and administrative offices for his aides and guards.
                     Enjoy discovering what the rooms contain on a historical tour inside the palace, including collectibles, clothing, and souvenir photos of the king with his children and with a number of country leaders.
                  You can enjoy a trip in which you will experience the past of Riyadh.</p>
                     <a target="_blank" href="https://maps.app.goo.gl/7noK1yX6Lenr3dTp6?g_st=iw"><button>Go to the location</button> </a>   
            </div>
            <img class="img-KingdomTower" src="\static\img\MurabbaHistorical.jpg" >
         </div>
         <div class="introduction-container">
            <img id="imgtravel" src="\static\img\travelimage1.png"/>
            <h3 id="introduction-Season">The largest tourism event in Riyadh is the Riyadh Season, which includes many events and tourist areas.</h3>
      </div>
         <div class="KingdomTower">
            <img class="img-KingdomTower" src="\static\img\Riyadh-season.jpg" >
            <div class="contant-KingdomTower">
                  <h5 class="subcontant">Riyadh Season</h5>
                  <p >Riyadh Season is an international entertainment festival held in the city of Riyadh, the capital of the Kingdom of Saudi Arabia. The leading destination for one of the largest entertainment and sports events in the world, showcasing various areas full of live shows. Enjoy your vacation with Riyadh Season...and spend an enjoyable time and different adventures</p>
                  <p>It includes more entertainment areas</p>
                     <a target="_blank" href="https://riyadhseason.com/ar-SA"><button>To Discover More</button> </a>   
            </div>
         </div>
         <div class="card-container2">
            <div class="row row-cols-1 row-cols-md-3 g-4 ">
               <div class="col">
               <div class="card">
                  <img  class="img-card"src="\static\img\terazaRiyadh.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Ramla Terraza</h5>
                     <p class="card-text">A lifestyle destination with four upscale restaurants - Clap, Iris Café - Brute - Jones the Grocer - offers a diverse range of culinary experiences, where visitors can indulge in extraordinary flavors and enjoy memorable dining experiences in a vibrant and upscale setting.</p>
                  </div>
               </div>
               </div>
               <div class="col">
                  <div class="card">
                  <img class="img-card-riyadh" src="\static\img\Bolvd-hall.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Kingdom Arena</h5>
                     <p class="card-text">When we talk about Riyadh Season, we are talking about one of the largest winter entertainment events in the world. Among the events of this huge season, the Kingdom Arena 2023 events stand out as one of the most important events that attract visitors from all over the world. It will offer visitors a unique experience that combines Saudi cultural heritage and modernity. Enjoy a variety of foods from all over the world.</p>
                  </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card">
                  <img class="img-card-riyadh" src="\static\img\Roshn.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Roshn Front</h5>
                     <p class="card-text">YOUR PLACE TO EXPLORE CONNECT AND THRIVE
                        Roshn Front is an extraordinary urban experience that re-imagines how we Work. Play. Dine. Shop and share space in the heart of Riyadh. Integrating human-centered design and social spaces, Riyadh Front isn't just a place - it's a living hub of Connection. Curiosity and Innovation.</p>
                  </div>
                  </div>
               </div>
               <div class="col">
               <div class="card">
                  <img class="img-card-riyadh" src="\static\img\Boulevard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Boulevard World</h5>
                     <p class="card-text">Boulevard World offers its visitors the delight of exploring world civilizations and cultures, wandering through its fantastical facilities, and experiencing numerous exceptional adventures in each unique area. Enjoy exclusive privileges and magical experience throughout your visit when you purchase entry packages to Boulevard World.</p>
                  </div>
               </div>
               </div>
               <div class="col">
               <div  class="card">
                  <img class="img-card-riyadh" src="\static\img\Suwaidi.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Suwaidi Park</h5>
                     <p class="card-text">Al-Suwaidi Park aims to host seven different cultures in seven weeks in a fun way to create a unique and distinctive entertainment experience in one of the biggest parks in Riyadh, as it allows visitors to explore different cultures through a trip full of various activities that include: Food, music, entertainment shows, and folk dances for each country</p>
                  </div>
               </div>
               </div>
               <div class="col">
               <div class="card">
                  <img class="img-card-riyadh" src="\static\img\Wonder.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">Wonder Garden</h5>
                     <p class="card-text">A magical amusement park that will take you through a whole imaginative and whimsical experience. To keep you in wonder, it is made up of three different zones where you can go on unique rides, watch pink flamingos, and explore areas full of beautiful butterflies and exquisite trees.</p>
                  </div>
               </div>
               </div>
            </div>
         </div>
 

       
       
      
      

 
   
    {%endblock%}