{% extends 'main/base.html' %}
{% load static %}

{% block title %}ABHA {% endblock %}

{% block content %}


<div class="wrapper_alula homepage-ab" >
    <div class="sub-content_alula">
        <br>
        <br>

    <h1 style="font-size: 80px;"> ABHA</h1>
    </div>
</div>


<div class="abha">
    <h3 class="text" >Abha, the capital of Asir region in Saudi Arabia, is a beautiful mountain city known for its stunning views, mild climate, and rich culture.<br><br>

        Abha is located in the southwestern corner of the country, at an altitude of over 2,000 meters above sea level. The city is surrounded by mountains, which provide stunning views of the surrounding countryside.<br><br>
        
        Abha has a mild climate, with average temperatures ranging from 15 to 25 degrees Celsius (59 to 77 degrees Fahrenheit) throughout the year. This makes it a popular destination for tourists from all over the world.<br><br>
        
        Abha is a vibrant cultural center, with a rich history and heritage. The city is home to a number of museums, historical sites, and cultural attractions.<br><br><br>
        
        Some of the most popular tourist attractions in Abha include:</h3>

        <div class=" content_abha">
         <div class="container margin-top:200px;">
          <div class="row">
            <div class="col-md-6">
                <div class="container all_img">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s3.jpg?alt=media&token=fe62743c-226d-49b4-b32e-9ec6e7f4ac30" class="d-block w-100 " >
                            </div>
                            <div class="carousel-item">
                              <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s15.JPG?alt=media&token=5441205e-f307-4e5f-9550-e26d509dbcbb" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                              <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s4.jpg?alt=media&token=7ef26121-7c1c-4644-9f9d-d349f3c73eaf" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s5.jpg?alt=media&token=8388168c-1c30-4740-9296-26bbd5f4870e" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s6.jpg?alt=media&token=2d2b8028-b391-492b-b6b1-973134aa02e9" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s7.jpg?alt=media&token=e56298e6-5af4-4ca5-afca-b0dc7532a3cb" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s8.jpg?alt=media&token=c90dba79-4cf1-4f5b-b971-d4bd8aceb869" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s20.JPG?alt=media&token=11b421dc-7662-4977-b2bf-a15501287169" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s3.jpg?alt=media&token=fe62743c-226d-49b4-b32e-9ec6e7f4ac30" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s13.JPG?alt=media&token=7fb7e704-6c74-41ce-af51-8110fb6b0d14" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s20.JPG?alt=media&token=11b421dc-7662-4977-b2bf-a15501287169" class="d-block w-100" >
                            </div>
                            <div class="carousel-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/s1.jpg?alt=media&token=f57bd912-c48f-48d7-8dd6-f07afc832527" class="d-block w-100" >
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div><br>
   
           </div>
         <div class="col-md-6">
         <br><br><br><br><h1>Soudah</h1>
        <p>The Soudah Mountains are beautiful mountainous mountains located in the Asir region of the Kingdom of Saudi Arabia. It is known for its stunning scenery, cool climate and lush forests.<br>

        The Souda Plateau is located at an altitude of more than 2,200 meters above sea level. It is surrounded by mountains, which offer stunning views of the surrounding countryside. The plateau is also home to a number of waterfalls, streams and lakes.<br>
        
        The Souda Mountains have a cool climate, with average temperatures ranging from 15 to 25 °C (59 to 77 °F) throughout the year. This makes it a popular destination for tourists from all over the world.</p>
        </div>
        </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 </div>

    <div class=" content_abha">
        <div class="container margin-top:200px;">
         <div class="row">
            <div class="col-md-6">
                <br><br><br><br><h1>high city</h1>
               <p>The high city is located inside Abha.<br>
                 It has many restaurants, cafes, and shopping, and there are hotels.<br> It is a beautiful place to spend an enjoyable time, characterized by stunning views of the city of Abha,<br> especially during fog. How beautiful it is to drink coffee in the midst of fog!</p>
               </div>
           <div class="col-md-6">
               <div class="container all_img">
                   <div class="row">
                     <div class="col-md-12">
                       <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                         <div class="carousel-inner">
                            <div class=" content_abha all_img">
                                <div class="container margin-top:200px;">
                                 <div class="row">
                                    <div class="col-md-12">
                                    <div id="carouselExampleCaptions" class="carousel slide">
                                        <div class="carousel-indicators">
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                        </div>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/hs1.jpg?alt=media&token=524da6cc-9d43-42eb-b402-d28af297955a" class="d-block w-100" alt="...">
                                       
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/hs2.jpg?alt=media&token=58110b7e-c031-4d9a-a1c9-f92ffcc45753" class="d-block w-100" alt="...">
                                      
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/hs3.jpg?alt=media&token=34cf47c4-8efe-4dfe-b07d-2135985b196c" class="d-block w-100" alt="...">
                                         
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/h1.jpg?alt=media&token=316c76d6-fd4c-4c46-851a-e7c38bf6b747" class="d-block w-100" alt="...">
                                        
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/h4.jpg?alt=media&token=b2e1a499-b15e-4052-a2c1-62a5d90ffe24" class="d-block w-100" alt="...">
                                     
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/h3.jpg?alt=media&token=098759d5-777c-433c-9afd-82361a4a5786" class="d-block w-100" alt="...">
                                        
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                      </div>
                                    </div>
                         </div>

                       </div>
                     </div>
                   </div>
                 </div>
          </div>
       
       </div>
   </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   </div>

   <div class=" content_abha">
    <div class="container margin-top:200px;">
     <div class="row">
       <div class="col-md-6">
           <div class="container all_img">
               <div class="row">
                 <div class="col-md-12">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj6.JPG?alt=media&token=7a609650-e672-4aae-949f-4462aad0b768" class="d-block w-200" alt="...">
                     
                          </div>
                          <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj3.JPG?alt=media&token=02bb7144-dafe-4aab-aad0-04b269973c0e" class="d-block w-100" alt="...">
                    
                          </div>
                          <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj8.JPG?alt=media&token=291e2a80-5daa-4c6d-bf80-5abef171662a" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="h5-1 p-1" ></h5>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj7.JPG?alt=media&token=0c4eda1a-e61b-4054-be70-659ad5f1cfc0" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="h5-1 p-1" ></h5>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj4.JPG?alt=media&token=ca9a00db-b596-446a-a534-68c94ff349f7" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="h5-1 p-1"></h5>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/rj.JPG?alt=media&token=3cf4f462-86f3-4bbb-9c1b-67ff0587a3df" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="h5-1 p-1" ></h5>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden"></span>
                     </button>
                     <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="visually-hidden"></span>
                     </button>
                   </div>
                 </div>
               </div>
             </div><br>
             <br>
             <br>
             <br>
      </div>
    <div class="col-md-6">
    <br><br><br><br><h1>Rijal Almaa</h1>
   <p>The archaeological monuments and folk tales hidden within the unique architectural style of Rijal Almaa village are one of the historical evidences of its cultural dimension that has resonated for more than 700 years. Its towering stone buildings were constructed using basalt rocks, which gave them strength and durability. White quartz stone is spread on its external walls, while It is decorated from the inside with exquisite artistic drawings.</p>

   </div>
   </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>  

</div>
<div  class="v_u_abha">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121257.87637586813!2d42.6308188659624!3d18.24166773439467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e3546315720931%3A0xa177558c718919b4!2z2KPYqNmH2Kc!5e0!3m2!1sar!2ssa!4v1700432730391!5m2!1sar!2ssa" width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>





{% endblock %}
