{% extends 'main/base.html' %}
{% load static %}

{% block title %}ALULA {% endblock %}

{% block content %}

<div class="wrapper_alula homepage-alula" >
    <div class="sub-content_alula">
        <br>
        <br>

    <h1 style="font-size: 80px;"> ALULA</h1>
    </div>
</div>
<div class="alula">

<div class="mar">
 <div class=" content_umluj">
    <div class="container margin-top:200px;">
     <div class="row">
       <div class="col-md-6">
           <div class="container um-img">
               <div class="row">
                 <div class="col-md-12">
                   <div id="myCarousel" class="carousel slide" data-bs-ride="carousel ">
                     <div class="carousel-inner">
                       <div class="carousel-item active">
                         <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al1.jpg?alt=media&token=52993530-50c1-43eb-835c-c8db2ab7517a" class="d-block w-100 " >
                       </div>
                       <div class="carousel-item">
                         <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al2.jpg?alt=media&token=46fb02a9-c00d-4273-b5f3-2df9910b8a57" class="d-block w-100" >
                       </div>
                       <div class="carousel-item">
                         <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al3.jpg?alt=media&token=b10eb734-3b3a-4c8e-aab5-fb587a6ebde1" class="d-block w-100" >
                       </div>
                       <div class="carousel-item">
                           <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al4.jpg?alt=media&token=26074fb9-dc06-4299-8c23-c03441996e23" class="d-block w-100" >
                       </div>
                       <div class="carousel-item">
                           <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al5.jpg?alt=media&token=5fea7a03-e647-4129-854e-cfd1c37edf03" class="d-block w-100" >
                       </div>
                       <div class="carousel-item">
                           <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/al6.jpg?alt=media&token=e417d0af-89ae-44a9-86b7-42505cd744e8" class="d-block w-100" >
                       </div>
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden"></span>
                     </button>
                     <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="visually-hidden"></span>
                     </button>
                   </div>
                 </div>
               </div>
             </div>
          
      </div>
    <div class="col-md-6">
  <h1>ALULA</h1>
   <p style="font-size: 20px;">AlUla, with its rich details, is a mine of history and a masterpiece visited by visitors from all over the world. On its land, human cultures met and many civilizations grew, especially in the Al-Hijr region, the first Saudi site on the UNESCO World Heritage List. Among its amazing archaeological monuments, you will have the pleasure of discovering stories hidden within them, as its rocks are full of mysterious symbols, elaborate inscriptions, and texts dating back to the first century BC. Its land still reveals another secret every time, leading us to new historical conclusions. In the middle of its beautiful desert under an astronomical cover decorated with stars, in addition to seasonal events, artistic and cultural activities, mixing a rich history and a dazzling modern atmosphere.<br><br>
    

   </div>
   </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>


</div>
<div  class="v_u">
<iframe width="1000" height="600" src="https://www.youtube.com/embed/XrM5Y5ghEHQ?si=719LVT_5jqCtia7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; margin:center; web-share"  allowfullscreen></iframe>
</div>
<div  class="v_u_m">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114177.32338712346!2d38.03110846233426!3d26.583048167994495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15a5ab96a9136819%3A0x39bae58691885d6!2z2KfZhNi52YTYpw!5e0!3m2!1sar!2ssa!4v1700424895047!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" pad></iframe>
</div>


</div>



{% endblock %}
