{% extends 'main/base.html' %}
{% load static %}
{% block title %} Alula {% endblock %}

{% block content %}
<div>
    <h1 class="title-city"><b> TOURIST IN ALULA </b></h1>
    <div class="city">
        <p class="to-city"> Welcome to Alula, a hidden gem in the heart of Saudi Arabia's northwestern desert, where
            the winds of time whisper through ancient landscapes, unveiling a tapestry of history and natural wonder.
        </p>
        <video controls class="video">
            <source src="/static/media/alula.mp4" type="video/mp4"> Alula
        </video>
    </div>
</div>

<div>
    <div class="bord">
        <div class="line1">
            <img src="/static/media/alula-cro1.jpg">
            <h6 class="h"> In 2023, embark on a journey to this extraordinary destination that combines archaeological
                marvels with breathtaking scenery. </h6>
            <img src="/static/media/alula-cro2.jpg">
        </div>
        <div class="line2">
            <h6 class="h"> Begin your exploration at Madain Saleh, a UNESCO World Heritage site that rivals Petra in its
                magnificence. </h6>
            <img src="/static/media/alula-cro3.jpg">
            <h6 class="h"> Carved into rose-red cliffs, the Nabatean tombs stand as a testament to the ancient
                civilization that once thrived in this enchanting desert oasis. </h6>
        </div>
        <div class="line3">
            <img src="/static/media/alula-cro4.jpg">
            <h6 class="h"> Wander through the archaeological wonder, and let the echoes of the past guide you through a
                journey of discovery.
            </h6>
            <img src="/static/media/alula-cro5.jpg">
        </div>
    </div>



    {% endblock %}