{% extends 'main/base.html' %}
{% load static %}

{% block title %}AMLG {% endblock %}

{% block content %}

<div class="wrapper_alula homepage-um" >
    <div class="sub-content_alula">
        <br>
        <br>

    <h1 style="font-size: 80px;"> UMLUJ</h1>
    </div>
</div>
<div class="Umluj">



 <div class=" content_umluj">
                <div class="container ;">
                 <div class="row">
 
            
                    <div class="container um-img">
                        <div class="row">
                          <div class="col-md-12">
                            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u3.jpg?alt=media&token=ffe321c2-d8c3-4b1a-9318-b2cada6f604c" class="d-block w-100 " >
                                </div>
                                <div class="carousel-item">
                                  <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u1.jpg?alt=media&token=9401bb9b-acd8-40c6-89ba-4702cfd0d74e" class="d-block w-100" >
                                </div>
                                <div class="carousel-item">
                                  <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u2.jpg?alt=media&token=bcbc35b0-7e92-4c18-8853-b02b81aec8fa" class="d-block w-100" >
                                </div>
                                <div class="carousel-item">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u3.jpg?alt=media&token=3bbae6c4-fb57-482e-b419-b4038526783f" class="d-block w-100" >
                                </div>
                                <div class="carousel-item">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u4.jpg?alt=media&token=51aa714a-1219-40e6-9353-a20bb49c9e97" class="d-block w-100" >
                                </div>
                                <div class="carousel-item">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/u5.jpg?alt=media&token=6d8bd993-11ec-4f81-bf5e-ec8cae57267c" class="d-block w-100" >
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden"></span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

              <h1 style="margin-top:50px">UMLUJ</h1>
               <p style="font-size: 25px;">The city of Umluj City is located on the coast of the Red Sea between the cities of Al-Wajh and Yanbu, and it is considered one of the important tourist destinations in Saudi Arabia. <br><br>The city’s economy has rebounded in recent days and its commercial and economic activity has clearly increased after a sea route with Egypt was opened.<br><br>

                The city's coast includes a number of islands, three of which are directly in front of the city, the most famous of which are seven islands, which represent the famous Al-Fawaida Islands.<br><br>In ancient times, the city of Umluj was the second largest commercial city after the city of Mecca, and in the past it bore the name of the city of Al-Hawra.<br><br>

                There are many traces and remains of ancient ruins evident in the north of the city, and it is believed that the city lived during the Roman era under the name of the White City.<p></p>
                


               </div>
           </div>
       
         <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </div>
       
    <div  class="v_m">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/pENDOEzqRFM?si=LA_6hA-q_YE7q7NZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
    <div  class="v_m_umlug">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57847.05658125035!2d37.314806777567334!3d25.019102623263723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15b0a70afa645bb5%3A0xb9b2648298389231!2z2KfZhdmE2Kw!5e0!3m2!1sar!2ssa!4v1700425703767!5m2!1sar!2ssa" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>





</div>


{% endblock %}
