<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saudi TOURISM</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      
      window.addEventListener('scroll', function() {
        var header = document.getElementById('main-header');
        var scrollPosition = window.scrollY;
  
        if (scrollPosition > 100) {
          header.classList.add('scrolled');
        } else {
          header.classList.remove('scrolled');
        }
      });
   </script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<i class="bi bi-person"></i>
<i class="bi bi-person-check"></i>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container header1" style="max-width: 100%;" >
        <header  class="border-bottom  rounde " id="main-header" >
          <div class="row flex-nowrap justify-content-between align-items-center ">
            
            
            <div class="col-4 m- ">
              <img class="logo11" src="/static/images/welcom.png" alt="logo"></img>
  
            </div>
            
            <div class="col-4 pt- d-flex justify-content-end align-items-center ">
              <a class="link-secondary" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
              </a>
              {% if "login" in request.COOKIES and request.COOKIES.login == "yes" %}
              <a class="btn btn-sm btn-outline-secondary bg-dark" href="{% url 'main:profile_view' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                </svg>
              </a>
              {%else%}
              <a class="btn btn-sm btn-outline-secondary bg-dark" href="{% url 'main:user_login' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
            </a>
            {% endif %}
       

             
              <span class="material-symbols-outlined ">
                
                <a class="btn btn-sm btn-outline-secondary bg-dark logo2" href="/">home_app_logo</a>
                </span>
              
            </div>
          </div>
          
          <nav class="nav nav-underline justify-content-center header2" id="main-header">
            <a class="nav-item nav-link link-body-emphasis text-uppercase p-font" href="{% url 'main:city1_view' %}">riyadh</a>
            <a class="nav-item nav-link link-body-emphasis text-uppercase p-font" href="{% url 'main:city2_view' %}">abha</a>
            <a class="nav-item nav-link link-body-emphasis text-uppercase p-font" href="{% url 'main:city3_view' %}">jeddah</a>
            <a class="nav-item nav-link link-body-emphasis text-uppercase p-font" href="{% url 'main:city4_view' %}">alula</a>

          </nav>
        </div>
      </div>
        </header>
      
        
      </div>
     

    {% block content %}

    {% endblock %}
    
</body>
<footer>
  <div class="row  padding-footer-col">
    <div class="col-12 col-md logo3">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 p-font">© 2023</small>
    </div>
    <div class="col-6 col-md color-text-footer">
      <h5 class="p-font">Resources</h5>
      <ul class="list-unstyled text-small color-text-footer">
        <li><a class="link-secondary text-decoration-none p-font" href="#">bootstrap</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="https://www.visitsaudi.com/">Visit Saudi Arabia</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="https://www.pinterest.com/">Pinteres</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="https://fonts.google.com/">Fonts&Icon</a></li>
      </ul>
    </div>
    <div class="col-6 col-md color-text-footer">
      <h5 class="p-font">Resources</h5>
      <ul class="list-unstyled text-small color-text-footer">
        <li><a class="link-secondary text-decoration-none p-font" href="https://youtube.com">Videos</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="https://www.google.com/maps">Maps</a></li>
      </ul>
    </div>
    <div class="col-6 col-md color-text-footer ">
      <h5 class="p-font">About</h5>
      <ul class="list-unstyled text-smallr ">
        <li><a class="link-secondary text-decoration-none p-font" href="https://github.com/m7mdhusinn">Team</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="https://tuwaiq.edu.sa/">Locations</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="#">Privacy</a></li>
        <li><a class="link-secondary text-decoration-none p-font" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>