
{% extends 'main/base.html' %}
{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5  text-center back4">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold mt-5 t3-city1 text-white">Abha</h1>
    <h3 class="fw-normal text-dark mb-3 text-body-emphasis p-font mt-5">Abha's Southern Charm: Where Majestic Mountains Meet Warm Hospitality, Unveiling the Hidden Gem of Saudi Arabia's Southern Wonderland</h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
         
    </div>
  </div>
  </div>
</div>
<div class="rectangle "></div>
<div class="back-city2 ">
  <div class="container text-center">
    <div class="row align-items-start p-2">
      <div class="col ">
        <h2 class="h2-t-city2 p-font">A Video About Some Tourist Places In Abha</h2>
        <iframe class="mt-5 p- rounded-2 "width="500" height="500" src="https://www.youtube.com/embed/9t5E3xgvEfc" title="🔸السياحة في عسير- قرية السودة" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
      <div class="col">
        <h2 class="h2-t-city2  p-font">Location On The Map</h2>
        <iframe class="mt-5 rounded-2 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242515.37154988415!2d42.713234087570136!3d18.24194098517629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e3546315720931%3A0xa177558c718919b4!2z2KPYqNmH2Kc!5e0!3m2!1sar!2ssa!4v1700162387662!5m2!1sar!2ssa" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>  
</div>
  <div class="back2-city2 ">
    <div class="rectangle "></div>
  <main class="div-city2 ">
    
    <h2 class="d-flex justify-content-center h2-t-city22 p-font ">Some Of the tourist Places In Abha</h2>
  <div class="row mt-5">
    
    <div class="col-6">
      <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/Alhabala.jpg" width="450" height="450"></img>
      <h2 class=" h2-t-city2 p-font">Al Habala Cable Car Station</h2>
      <p  class="p-p2-city2 p-font">This cable car route spans 600 meters on its way to the ancient Habala village, built by the Qahtan tribe nearly 400 years ago.</p>
    </div>
    <div class="col-6 ">
      <img class="bd-placeholder-img rounded-2 city2-photo p-font" src="/static/images/high-city1.webp" width="450" height="450"></img>
      <h2 class=" h2-t-city2 p-font">The High City</h2>
      <p  class="p-p2-city2 p-font">High City has an ideal strategic location at the heart of Abha since it is surrounded by many elegant hotels and captivating parks as well as it is easily reachable via King Abdulaziz Road from all parts of the city.</p>
    </div>
    <div class="col-6 ">
      <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/abha1.webp"  width="450" height="450" ></img>
      <h2 class=" h2-t-city2 p-font">Rijal Almaa village in Aseer</h2>
      <p class="p-p2-city2 p-font">A trip to Aseer is not complete without a visit to Rijal Almaa historical village, which is only 45 km away from Abha. With its stone-built castles and colourful buildings, it made it to the list of tourism villages of the world</p>
    </div>
    <div class="col-6 ">
        <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/tabab.webp" width="450" height="450"></img>
        <h2 class=" h2-t-city2 p-font">Historical Tabab</h2>
        <p  class="p-p2-city2 p-font">Historical Tabab has historic and political importance, as it was the capital of Aseer region during the era of the First Saudi State. It is full of ancient castles, palaces and mosques dating back hundreds of years</p>
      </div>
      <div class="col-6 ">
        <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/alshalal.webp" width="450" height="450"></img>
        <h2 class=" h2-t-city2 p-font">Waterfall Park</h2>
        <p  class="p-p2-city2 p-font">One of the coziest parks in Abha, It is a famous tourist destination during the months of summer when the beautiful flowers around the park blooms. Waterfall Park is known for holding a wide variety of different plants and flowers</p>
      </div>
      <div class="col-6">
        <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/abo-khail.webp" width="450" height="450" ></img>
        <h2 class=" h2-t-city2 p-font">Abu Kheyal Park</h2>
        <p  class="p-p2-city2 p-font">Entering Abu Kheyal Park, located on King Abdulaziz Road, feels like walking through vast green fields that seem to extend beyond the horizon</p>
      </div>
    </main>
  </div>
</div>
<div class="rectangle "></div>
  {% endblock %}
