{% extends 'main/base.html'%}
{%block content%}
<main>
<div class=" overflow-hidden p-3 p-md-5  text-center back6">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold mt-5 t3-city1">ALULA</h1>
            <h3 class="fw-normal  mb-3 text-dark p-font mt-5">
                Where Ancient Mysteries Meet Timeless Beauty, Your Journey Back in Time Begins</h3>
              
            </div>
</div>
<div class="border-bottom shadow border2 "></div>
  <div class="container text-center">
    <div class="row align-items-start p-2">
      <div class="col ">
        <h2 class="h2-t-city2 p-font">A Video About Some Tourist Places In AlUla</h2>
        <iframe class="mt-5 rounded-2 " width="500" height="500" src="https://www.youtube.com/embed/XrM5Y5ghEHQ" title="Experience AlUla" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
      <div class="col">
        <h2 class="h2-t-city2 p-font">Location On The Map</h2>
        <iframe class="mt-5 rounded-2 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114177.17686070071!2d38.04347059222574!3d26.583195110231646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15a5ab96a9136819%3A0x39bae58691885d6!2z2KfZhNi52YTYpw!5e0!3m2!1sar!2ssa!4v1700278414588!5m2!1sar!2ssa" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="border-bottom shadow border2 "></div>
  
<div class="album p11 bg-body-tertiary ">
  <h2 class="d-flex justify-content-center h2-t-city223  p-font">Some Of the tourist Places In AlUla</h2>
    <div class="container">

      <div class="row row-cols-1 ">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/alula1.webp" width="100%" height="100%" ></img>
            <div class="card-body">
               
              <h2 class="display-10 fw-bold p-font">Jabal Al-Fil</h2>
              <p class="card-text p-font1">On soft golden sands, and amid captivating rock formations, Jabal Al-Fil stands as a natural sculpture that embraces the sky, with a height of more than 50 meters. It was shaped by natural factors over the years in the form of an elephant, forming a landmark of the amazing nature in AlUla</p>
              <div class="d-flex justify-content-between align-items-center">
                
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/alula2.webp" width="100%" height="100%" ></img>
            <div class="card-body">
                
                <h2 class="display-10 fw-bold p-font ">Maraya Concert Hall</h2>
              <p class="card-text p-font1">Natural beauty stimulates constructional beauty, therefore, Maraya Concert Hall was designed to be an artistic piece of work, with its mirrors reflecting the amazing natural beauty elements of AlUla surrounding the building.  It is approximately 9,740 square meters, and it is in The Guinness Book of Records for being the biggest reflective building in the world</p>
              <div class="d-flex justify-content-between align-items-center">
                
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/alula3.webp" width="100%" height="100%" ></img>
            <div class="card-body">
                
                <h2 class="display-10 fw-bold p-font">AlUla Old Town</h2>
              <p class="card-text p-font1">Books of travelers since the 12th century talk a lot about the old town of AlUla and its importance in the Hijaz region, as it is the largest ancient city after Makkah</p>
              <div class="d-flex justify-content-between align-items-center">
                
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img rounded-2 city2-photo" src="/static/images/alula4.webp" width="100%" height="100%" ></img>
              <div class="card-body">
                
              <h2 class="display-10 fw-bold p-font">Hijaz Railway Station at AlUla</h2>
              <p class="card-text p-font1">AlUla has a rich history of human civilizations that settled in it due to its location on old trade and Hajj roads, therefore AlUla Railway Station is distinguished among the other 32 stations of the Hijaz Railway and is one of its main stations.  The first trip that arrived at this station was met by chieftains of AlUla in 1326AH/1907AD</p>
                
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
<div class="border-bottom shadow border2 "></div>

  {%endblock%}