
{% extends 'main/base.html' %}
{% block content %}
<div class=" back2 ">
<div class="container">
    <div class="p-4 p-md-5 p-mb-4 img-fluid rounded text-body-emphasis back1" >
      <div class="text-center  px-5 pt-5  ">
        <h1 class="display-3  fst-italic  opacity-75  lead my-5 moving-h1 text-white text-uppercase mt-5 mb-5 " style="font-family: 'Dancing Script', cursive;">WELCOME TO SAUDI Arabia</h1>
        
      </div>
      </div>
      <div class="border-bottom border1"></div>
      <div>
        <p class="lea my- static-p ">Since the launch of Vision 2030, Saudi Arabia is more open than ever before welcoming people from around the globe. With the introduction of the e-visa in 2019, millions of visitors have been drawn to the Kingdom, which has helped in creating jobs and driving local economic growth</p>
        <iframe class="style_video" width="900" height="500" src="https://www.youtube.com/embed/VsJij8Sl6JE" title="#رؤية_السعودية_2030 | السعودية وجهةٌ سياحية عالمية" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  
    
</div>

{% endblock %}