{% extends 'main/base.html' %}
{% block title %}Ministry of Tourism | Saudi Arabia{% endblock %}
{% load static %}
{% block content %}
<div class="home-container">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'image/h4.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Visit Saudia Aribia </h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'image/h-2.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>More than you can imagine </h5>
          <p></p>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/h-3.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Explore Top Destinations</h5>
          
          <p> <a href="https://map.visitsaudi.com/en?lat=21.79654&lng=45.818281&z=5" class="btn btn-warning mt3">Explore</a></p>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<!--services section-->
  
<section id="--services" class="services section-padding">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header text-center pb-5">
        <h2>Traditions of Saudi Arabia</h2>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card text-white text-center bg-dark pb-2">
        <div class="card-body">
          <i class="bi bi-"></i><!--  اللي اخذناه من بوت سترب هنا نكتب اسم icon-->
          <h3 class="card-title">Languag</h3>
          <p class="lead"> 
            Arabic is the official language of Saudi Arabia and the primary language used in all dealings and public transactions. English serves as an informal second language in the Kingdom and is spoken by a large section of its society. All road signs are bilingual, showing information in both Arabic and English. </p>
              

        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card text-white text-center bg-dark pb-2">
        <div class="card-body">
          <i class="bi bi-"></i><!--  اللي اخذناه من بوت سترب هنا نكتب اسم icon-->
          <h3 class="card-title">Culture</h3>
          <p class="lead"> Saudi Arabia’s rich heritage and traditions have been shaped by its position as a historic trade hub and the birthplace of Islam. In recent years, the Kingdom has undergone a significant cultural transformation, evolving centuy-old customs to fit the contemporary world we live in today.</p>
              
        </div>
      </div>
    
  </div>
  <div class="col-12 col-md-12 col-lg-4">
    <div class="card text-white text-center bg-dark pb-2">
      <div class="card-body">
        <i class="bi bi-"></i></i><!--  اللي اخذناه من بوت سترب هنا نكتب اسم icon-->
        <h3 class="card-title">Exchange and transactions</h3>
        <p class="lead"> Currency exchange and transactions are easy in Saudi Arabia. Saudi Arabia’s national currency is the Saudi riyal (ر.س SAR), which is subdivided into 100 halala.
            You’ll receive notes in denominations of five riyals, ten riyals, 50 riyals, 100 riyals and 500 riyals; and coins in one riyal, two riyals,...</p>
            
      </div>
    </div>
  
</div>


</section>




<!--team section-->

<section id="team" class="team section-padding">

  <div class="container">
    <div class="col-md-12">
      <div class="section-header text-center pb-5">
        
      </div>
    </div>
  </div>
  <div class="row"
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card text-center">
      <div class="card-body">
        <img src="" alt="" class="img-fluid rounded-circle">
        <h3 class="card-title py-2">Wellcome to our Country</h3>
        <p class="card-text"></p>
        <div class="socials">
            <a href="https://twitter.com/VisitSaudi"><i class="bi bi-bi bi-twitter-x"> </i></a>
            <a href="https://facebook.com/VisitSaudi"><i class="bi bi-facebook text-darmx-1"></i></a>
          
        </div>
      </div>
    </div>

  </div>

  
  </div>
</section>

</div>




{% endblock %}