{% extends 'main/base.html' %}
{%load static %}
{%block title %}Jeddah{% endblock%}
{% block content %}
<div class="container-content pt-5">
<div class ='main-content d-flex justify-content-between mt-5 mx-4'>
<div class="main-subcontent">
<h1 class="text-center">Jeddah</h1>
<h2 class="text-center">The Pearl of the Red Sea</h2>
<p class="p1 mx-3 mt-3">Jeddah is a vibrant coastal city on the western edge of Saudi Arabia, nestled along the shores of the Red Sea. Renowned as the "Bride of the Red Sea," Jeddah is a captivating blend of ancient traditions and modern advancements, offering visitors a rich tapestry of cultural experiences. </p>
</div>
<div class="content-carousel col-6  p-3 mx-3">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/j1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1">Al-balad</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/j2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1">Jeddah Waterfront</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/j3.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1" >King Abdulaziz Airport </h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/j4.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1" >King Fahd's Fountain</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/j5.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1">Fakieh aquarium</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/j6.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5-1 p-1" >The Saudi Cruise</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  <!--jeddah-carousel-->
</div>
<!--jeddah-content-->

</div>
<div class="visit-content mt-4 mx-4">
  <div class="visit-subcontent">
  <h2 class="text-center mt-4">Discover</h2>
  <h3 class="text-center">Choose the place where you want to visit</h3>
  </div>
  <div class="places my-4 p-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card1">
        <div class="card">
          <img src="{% static 'images/j7.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
             <h3 class="card-title text-center text-danger-emphasis">Fakieh aquarium</h3>
            <p class="card-text">is the only aquarium for the public in Saudi Arabia and offers education and entertainment by presenting the wonders of the underwater</p>
            <a href="https://maps.app.goo.gl/45CXrmiSrDPCPo456" class="btn btn-success">Location</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/j8.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center text-danger-emphasis">Jeddah Waterfront</h3>
            <p class="card-text">Jeddah Waterfront Is A Great Place To Cycle, Jog And Exercise All While You Take In The Balmy Sea Breeze.</p>
            <a href="https://maps.app.goo.gl/HwdbvhYpQGyG1fyVA" class="btn btn-success">Location</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/j9.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center text-danger-emphasis">Al-Balad</h3>
            <p class="card-text">Al-Balad, Back To The 7th Century, Still Retains Its Ancient Feel, Boasting Some Of The Oldest And Most Beautiful Buildings In The City.</p>
            <a href="https://maps.app.goo.gl/B8SNBQ1VH7kpPfhn7?g_st=ic" class="btn btn-success">Location</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/j10.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center text-danger-emphasis">Al-rahma mosque</h3>
            <p class="card-text">A stunning marble mosque with tiled prayer halls, built on stilts above the sea.</p>
            <a href="https://maps.app.goo.gl/Z7dqWopXb7phztqx9" class="btn btn-success">Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--jeddah-->
  <div class="video mt-4">
  <h2 class="text-center mb-3">10 BEST Things to Do in Jeddah</h2>
    <center><iframe class="video-content p-3 mb-4" src="https://www.youtube.com/embed/dMwntdgw9qY?si=dHolAa4HOyDpBjf7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
  </div>
</div>
{% endblock %}