{% extends 'main/base.html' %}
{% load static %}
{% block title %} Jeddah {% endblock %}

{% block content %}
<div>
    <h1 class="title-city"><b> TOURIST IN JEDDAH </b></h1>
    <div class="city">
        <p class="to-city"> Welcome to Jeddah, the vibrant jewel of Saudi Arabia's Red Sea coast, where tradition and
            modernity converge in a harmonious dance. </p>
        <video controls class="video">
            <source src="/static/media/jeddah.mp4" type="video/mp4"> Jeddah
        </video>
    </div>
</div>
<div>
    <div class="bord">
        <div class="line1">
            <img src="/static/media/jeddah-cro1.jpg">
            <h6 class="h"> As you step into this cosmopolitan city, get ready to be captivated by the rich tapestry of
                history, culture, and innovation that defines Jeddah. </h6>
            <img src="/static/media/jeddah-cro2.jpg">
        </div>
        <div class="line2">
            <h6 class="h"> In 2023, make your way to the historic district of Al-Balad, where ancient coral houses and
                bustling souks transport you back in time.</h6>
            <img src="/static/media/jeddah-cro3.jpg">
            <h6 class="h"> Stroll through narrow alleys adorned with intricately carved
                wooden windows and experience the authentic charm of a bygone era.</h6>
        </div>
        <div class="line3">
            <img src="/static/media/jeddah-cro4.jpg">
            <h6 class="h"> For a taste of contemporary elegance, venture to the King Abdulaziz Square, where the iconic
                King Fahd
                Fountain gracefully dances against the backdrop of the Red Sea.
            </h6>
            <img src="/static/media/jeddah-cro5.jpg">
        </div>
    </div>

    {% endblock %}