{% extends 'main/base.html' %}
{% load static %}
{% block title %} Makkah {% endblock %}

{% block content %}

<div>
    <h1 class="title-city"><b> TOURIST IN MAKKAH </b></h1>
    <div class="city">
        <p class="to-city"> Welcome to Makkah, embark on a soul-stirring pilgrimage to the spiritual heart of Islam,
            Mekkah, where every corner resonates with the profound essence of devotion and history. </p>
        <video controls class="video">
            <source src="/static/media/makkah.mp4" type="video/mp4"> Makkah
        </video>
    </div>
</div>


<div>
    <div class="bord">
        <div class="line1">
            <img src="/static/media/makkah-cro1.jpg">
            <h6 class="h"> In 2023, your journey to this sacred city is a profound encounter with the divine, and there
                are awe-inspiring sites that will undoubtedly leave an indelible mark on your soul. </h6>
            <img src="/static/media/makkah-cro2.jpg">
        </div>
        <div class="line2">
            <h6 class="h"> The majestic Kaaba stands as the focal point of the Grand Mosque, a symbol of unity for
                Muslims worldwide. Witness the mesmerizing rituals of Tawaf, where pilgrims circle the sacred structure
                in a rhythmic display of unwavering faith. </h6>
            <img src="/static/media/makkah-cro3.jpg">
            <h6 class="h"> The spiritual energy is palpable, and the architectural grandeur of the Grand Mosque is a
                testament to the enduring strength of Islamic traditions.</h6>
        </div>
        <div class="line3">
            <img src="/static/media/makkah-cro4.jpg">
            <h6 class="h"> Another must-visit is the Abraj Al Bait Towers, whose imposing structure houses the clock
                tower, the second tallest building in the world. Lit up against the night sky, this architectural marvel
                is a beacon that guides pilgrims and visitors alike.
            </h6>
            <img src="/static/media/makkah-cro5.jpg">
        </div>
    </div>

    {% endblock %}