{% extends 'main/base.html' %}
{% load static %}

{% block title %}RIYADH {% endblock %}

{% block content %}
<div class="wrapper_r homepage_r" >
    <div class="sub-content_alula">
        <br>
        <br>

    <h1 style="font-size: 80px;"> RIYADH</h1>
    </div>
</div>
<div class="abha">
    <h3 class="text" >Riyadh, the capital of Saudi Arabia, is a city of beauty and contrasts.
        The city is home to a rich history and culture, dating back to the 18th century. Riyadh is also a major center of commerce and industry, and is home to a growing population of young people.
        The city's beauty is evident in its many parks and gardens, as well as its modern architecture. Riyadh is also home to a number of historical sites, including the Masmak Fortress, which was once the seat of the Saudi royal family.
        Riyadh is a vibrant and cosmopolitan city that is constantly evolving. The city is a must-see for anyone interested in Saudi Arabia's history, culture, and future.</h3>
        <br>
        <br>
        <div class=" content_abha">
            <div class="container margin-top:200px;">
             <div class="row">
               <div class="col-md-6">
                   <div class="container all_img">
                       <div class="row">
                         <div class="col-md-12">
                           <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b.jpg?alt=media&token=57fbdf00-7b99-4b92-b5cf-86e8e63e383f" class="d-block w-100 " >
                               </div>
                               <div class="carousel-item">
                                 <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b1.jpg?alt=media&token=28fed478-a674-4a1e-8f26-31041258906c" class="d-block w-100" >
                               </div>
                               <div class="carousel-item">
                                 <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b3.jpg?alt=media&token=34f4a1cb-f4be-4b76-9a38-a539d5ffd9f1" class="d-block w-100" >
                               </div>
                               <div class="carousel-item">
                                   <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b4.jpg?alt=media&token=7c121f89-6df8-4298-a789-ce399be839d3" class="d-block w-100" >
                               </div>
                               <div class="carousel-item">
                                   <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b6.jpg?alt=media&token=4ed0c90f-4012-4ea6-b467-95041763d540" class="d-block w-100" >
                               </div>
                               <div class="carousel-item">
                                   <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/b2.jpg?alt=media&token=af287b6f-d9e2-4ff3-8a89-9836bf8b4455" class="d-block w-100" >
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden"></span>
                             </button>
                             <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden"></span>
                             </button>
                           </div>
                         </div>
                       </div>
                     </div><br>
                   </div>
                </div>
              </div>
              <div class="col-md-6">
                <br><h1>Al-Bujairi </h1>
            <p>Al-Bujairi View is located in Diriyah, about 18 km from the center of Riyadh. Al-Bujairi View is your luxurious destination, to immerse yourself in an upscale experience near Wadi Hanifa, where your senses will be immersed in international tastes that hold a Michelin star. There are many restaurants, and international and local shops, over an area of ​​15 One thousand square meters, with details inspired by the authenticity of Najd, its history full of architecture, and amazing historical views in the Al-Turaif neighborhood, which is included in the UNESCO World Heritage List, where you can enjoy the natural scenery with a group or individual outing, on the designated bicycle lanes in Al-Matal, or strolling around. Paths that trace the effects and stories of the Kingdom’s history, when Diriyah was the capital of the first Saudi state.</p>
            </div>

               <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        </div>


       <div class=" content_abha">
        <div class="container margin-top:200px;">
         <div class="row">
            <div class="col-md-6">
                <br><br><br><br><h1>Blvd World </h1>
               <p>A first-class entertainment area suitable for families and individuals, bringing together 10 countries from around the world, in a place that provides you with activities for the first time, such as the largest artificial lake in the world and boats that transport you from city to city with 11 stops, and it includes Aria. 15 who came to Riyadh from Las Vegas And the largest circular theater in the world, “The Sphere,” with an amusement park for fans of enthusiasm and excitement and other entertainment experiences that suit all age groups.</p>
               </div>
           <div class="col-md-6">
               <div class="container all_img">
                   <div class="row">
                     <div class="col-md-12">
                       <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                         <div class="carousel-inner">
                            <div class=" content_abha all_img">
                                <div class="container margin-top:200px;">
                                 <div class="row">
                                    <div class="col-md-12">
                                    <div id="carouselExampleCaptions" class="carousel slide">
                                        <div class="carousel-indicators">
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 6"></button>
                                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 6"></button>
                                        </div>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw8.jpg?alt=media&token=60c32274-e1af-4c36-9f59-72665082f2fc" class="d-block w-100" alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                              <h5 class="h5-1 p-1"></h5>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw7.jpg?alt=media&token=853918cc-3d26-4a18-a834-a41bb6fc8c56" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw5.jpg?alt=media&token=147cdaa6-b867-4a0a-a4a4-e04230c39dc4" class="d-block w-100" alt="..."> 
                                            </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw1.jpg?alt=media&token=be3b8a63-1bd1-488a-95a7-f62e98d83784" class="d-block w-100" alt="...">
                                            </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw2.jpg?alt=media&token=11bb92e8-d420-45f2-9a0d-36a64567c70a" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw3.jpg?alt=media&token=87fef334-1177-474e-af97-750aa4cedffd" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw4.jpg?alt=media&token=461a6b90-9976-488c-b3e8-881e54b1cc49" class="d-block w-100" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/tourister-1daa0.appspot.com/o/bw6.jpg?alt=media&token=39f99ae5-bc77-458f-b692-ebe740fed45f" class="d-block w-100" alt="...">
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                      </div>
                                    </div>
                         </div>

                       </div>
                     </div>
                   </div>
                 </div>
          </div>
       
       </div>
   </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   </div>

</div>
</div>
</div>
<br>
<br>
<br>
<div  class="v_u_abha">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463879.63801101584!2d47.152170552271485!3d24.724831581832504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2z2KfZhNix2YrYp9i2!5e0!3m2!1sar!2ssa!4v1700433048620!5m2!1sar!2ssa" width="900" height="300"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>





{% endblock %}
