{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\static\img\r1.jpg" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h6>Riyadh</h6>
           <p>Alolaya street riyadh</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="\static\img\r2.jpg" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h6>Makah</h6>
        <p>The holy mosque of maka.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="\static\img\r3.jpg" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h6>Madina</h6>
        <p>The holy mosque of Madina.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://afar.brightspotcdn.com/dims4/default/fe192d9/2147483647/strip/true/crop/1200x800+0+0/resize/1440x960!/quality/90/?url=https%3A%2F%2Fafar-media-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2F4e%2F3c%2Fe42b87e24a33b94ecf05791448c4%2Fstai0001-019.jpg" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h6>AlUla</h6>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="container"><br><br>
    <h1>Tourism in Kimgdoom of Saudi Arabia</h1>
    <h5> Saudi Arabia is the second biggest tourist destination in the Middle East with over 16 million visiting in 2017.</h5> <br>
    <p>
      Although most tourism in Saudi Arabia still largely involves religious pilgrimages, there is growth in the leisure tourism sector. As the tourism sector has been largely boosted lately, the sector is expected to be the white oil for Saudi Arabia. This is proved as tourism sector is expected to generate $25 billion in 2019. Potential tourist areas include the Hijaz and Sarawat Mountains, Red Sea diving and a number of ancient ruins.
      According to the World Travel and Tourism Council (WTTC), in 2018, Travel and tourism in Saudi Arabia added 9% to the Kingdom’s total economy which is worth $65.2 billion.
      In December 2013, Saudi Arabia announced its intention to begin issuing tourist visas for the first time in its history. Council of Ministers entrusted the Saudi Commission for Tourism and Antiquities with visa issuing on the basis of certain regulations approved by the Ministries of Interior and Foreign Affairs. On 27 September 2019, Saudi Arabia formally announced the issuance of the tourist visa to visitors from 49 countries for a fee of $80. The visa can be either obtained online (eVisa) or on arrival.[5] Ten days after the implementation of instant tourist visas, 24,000 foreign visitors entered Saudi Arabia. China visitors topped the list, with the UK and the US in second and third.
      Popular places to visit in Saudi Arabia are Makkah, Medina, Mada'in Salih, Yanbu, Tabuk, Jeddah and Riyadh.
      Arriving in Saudi Arabia can be through 13 international airports served by various global airlines. There are also 15 domestic airports connecting the country regions and cites. For moving within the country, there are budget airlines like Flynas, Fyadeal, Nesma Airlines, in addition to Saudi Airlines and SaudiGulf Airlines.</p>
  <br>Saudi Arabia has a variety of museums ranging from historical museums, archeological museums, and cultural and scientific museums. These museums exhibit the art life, old handicrafts, and antiquities of the Kingdom and including:
  National Museum of Saudi Arabia: This is the most famous museum in Saudi Arabia. It was established in 1999 and is located in Riyadh as a part of the King Abdulaziz Historical Centre. The museum highlights the prominent history of the Arabian Peninsula and its historical role in Islam expanding as well as the history of Saudi Arabia. The museum also holds many ancient manuscripts that are traced back to many ancient civilizations. Indeed Saudi Arabia is considered one of the richest countries in regards of the number of ancient manuscripts.
  Al-Zaher Palace Museum: It is a historical museum established in 1944 and exhibits the history of Makkah and various archaeological collections for different periods of Islamic history in the region.<br>
  Jenadriyah: It is an annual cultural and heritage festival held in Jenadriyah near Riyadh. The festival hosts various cultural and heritage events such as Al Janadriya Operetta, Saudi ardah, and camel racing.
  Souk Okaz: It is an annual cultural event held in Ta'if. It was known as an open market in the ancient past. Nowadays, Souk Okaz combines more than 150 attractions of heritage and cultural events, theatre performances, and arts and crafts.
  <br> </div>
  <br>
  <div class="vid1">
    <iframe width="80%" height="430"  src="https://www.youtube.com/embed/mwMhLllET6w?list=RDCMUCswYXFYjB4Lqyj6EIlW_KNg" title="في مملكة السياحة #نحلم_ونحقق" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>


{% endblock %}

<!--
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>


    </div>
    <div class="carousel-inner">
      <div class="carousel-item  active">
      <img src="\static\img\desert.jpg" class="d-block w-100"  >
        <div class="carousel-caption d-none d-md-block">
          <h5>Riyadh</h5>
          <p>Riyadh season winter wonderland 2022</p>
        </div>
      </div>
      <div class="carousel-item  ">
      <img src="\static\img\new1d.png"  class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5>Makah</h5>
          <p>The holy mosque of maka.</p>
        </div>
      </div>
      <div class="carousel-item  ">
      <img src="\static\img\desert.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Madina</h5>
          <p>The holy mosque of medina</p>
        </div>
      </div>
      <div class="carousel-item ">
    <img src="\static\img\new1d.png" class="d-block w-100"  >
        <div class="carousel-caption d-none d-md-block">
          <h5>AlUla</h5>
        </div>
        
        <div class="carousel-item">
          <img src="\static\img\aula\use1.jpg"  class="d-block w-100" >
          <div class="carousel-caption d-none d-md-block">
            <h5>AlUla</h5>
          </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->
