{% extends 'main/base.html' %}
{% load static %}

{% block title %} Madina {% endblock %}

{% block content %}

<div class="contact-img-container">
    <img src="\static\img\mad.jpg" alt="Almasjed Almadni" style="filter: brightness(0.6);">
    <div class="center-madina">
        <h1>Madinah</h1>
        <p style="font-size: large;">The Most Peaceful City on Earth</p>
    </div>
</div>

<div class="cities-content-container">
    <h2><b>Tourism In Madina</b></h2><br><br>
<br>
   <h1>Masjid An Nabawi</h1> <br>
<p>
The City of Madinah radiates peace and calmness.<br>
Visitors often testify that as soon as you enter the city you experience a peaceful feeling that is hard to put into words. The name of the city is also written as Al Madinah Al Munawwarah, which means ‘The Enlightened City.’ It is the capital of the Madinah Province and the fourth most populated city of Saudi Arabia. Being one of the two Holiest cities for Muslims, there are no shortage of holy sites and other places to visit in Madinah.<br>
The City is centered around Masjid An Nabawi. The Prophet Muhammad, Peace & Blessings Be Upon Him (PBUH), constructed this mosque with his own Blessed hands. It is also the place where the Holy Prophet (PBUH) is buried. During the lifetime of the Prophet (PBUH), Masjid An Nabawi served as the religious, educational, and political centre of the Islamic Empire. <br>
The significance of Masjid An Nabawi can not be stated enough. This beautiful mosque also contains the Rawdah ash Sharifah (Noble Garden). Also known as the Riyad ul-Jannah, this area between the Blessed Burial Place (and former House) of the Holy Prophet (PBUH) and his mimbar is regarded as one of the gardens of paradise as narrated by the Prophet (PBUH) himself.<br>
Just next to the Masjid An Nabawi (SAWS), the Jannatul Baqi graveyard can be found. Many of the Companions and relatives of the Holy Prophet (PBUH) are buried here (May God be Pleased with Them All). It is mostly opened after Fajr and Asar prayers.
</p><br>

<br><h1>Uhod Mountion</h1>
<p><b>A Peerless Mountain</b> and the unique formation of this Mount was what gave it the name, as it is a Mount distanced and unique from the others.<br>
    Mount Uhud is located in the North of Madinah and is surrounded by castles, rock carvings, valleys and reefs, and its red and black rocks include cavities to save rainwater, locally known as “almaharis”.  Among the many plants and trees spread on its hill are sidr, bramble, brown almonds and the camel thorn.  The Mount is 7 km long, 2-3 km wide and almost 1,077 m high.
    </p>
    <br>

    <br><h1>King Fahd Glorious Qur'an Printing Complex </h1>
<p>King Fahd Glorious Quran Printing Complex is a printing press in Medina. This complex exclusively prints more than 10 million copies of the Holy Quran every year. These prints are not just in the Arabic language but also include translations in languages such as English, Indonesian, Russian, Japanese, Persian, Urdu, Bengali, Korean and many more. The size of the Quran copies available in the complex range from pocket-size to much bigger ones. </p>
    <br>

    <br><h1>Quba Mosque</h1>
    <p><b>The First Mosque in Islamic History</b><br> Mosques are highly valued by all Muslims, for they are holy places where they perform prayers, worship and supplicate the Almighty. Quba Mosque, the first mosque in Islam, was built-up by Prophet Mohammed (peace be upon him) in 622 AD, the year when he migrated from Mecca to Yathrib, an event considered by Muslims the start of the Islamic calendar. Accordingly, it is over 14 centuries old!<br>
        This mosque has always been attended to by Muslim rulers, so it has seen many expansion and renovation works. For example, during the reign of the Custodian of the Two Holy Mosques King Fahd ibn Abd Al-Aziz (may Allah bless his soul), it was largely expanded to accommodate the huge number of visitors, so that it has become many times larger than its original site. The praying place was 1,600 m2, but it is now 5,035 m2, while the total area is 13,500 m2. </p>
        <br><br><br>

<div id="carouselExampleDark" class="carousel carousel-dark slide  cities-content-container">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" id="makah">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="\static\img\madena\masjed nabwi.jpg" class="d-block w-100" alt="Masjid An Nabawi">
        <div class="carousel-caption d-none d-md-block">
          <h5>Masjid An Nabawi</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="\static\img\madena\rowdah.webp" class="d-block w-100" alt="the rawdah">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rowdah</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="\static\img\madena\baqee.jpg" class="d-block w-100" alt="The yemeni corner">
        <div class="carousel-caption d-none d-md-block">
          <h5>Baqi</h5>
        </div>
      </div>
    
    <div class="carousel-item">
        <img src="\static\img\madena\uhud-mountain-in-al-madinah-banner (1).jpg" alt="Uhod Mountion" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Uhod Mountion</h5>
        </div>
      </div>
    
      <div class="carousel-item">
        <img src="\static\img\madena\Masjid-Quba-.webp" alt="Quba Mosque" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quba Mosque</h5>
        </div>
      </div>

      <div class="carousel-item">
        <img src="\static\img\madena\qurancomplex.jpg" alt="Quba Mosque" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>King Fahd Glorious Qur'an Printing Complex</h5>
        </div>
      </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br><br> <br> <br>

<div class="cities-content-container" style="padding-left: 0px;">
  <h2>Masjid An Nabawi</h2>
    <video src="\static\vid\madina.mp4" class=" object-fit-contain border rounded"  controls autoplay muted>

    </video>
</div>


<br><br>
<br> <h2>For more visiting details</h2><br>
  <div class="row row-cols-1 row-cols-md-3 g-4 ">
      <div class="col">
        <div class="card  h-100  bg-light mb-3">
          <img src="\static\img\madena\masjed nabwi.jpg"  class="card-img " alt="masjed">
          <div class="card-body">
            <h5 class="card-title">Masjid An Nabawi </h5>
            <a class="btn btn-outline-primary" href="https://maps.app.goo.gl/iCkEoUkBZxv37u6W7"> Visit</a>
          </div>
        </div>
      </div>

        <div class="col">
          <div class="card h-100 bg-light mb-3">
            <img src="\static\img\madena\Masjid-Quba-.webp" class="card-img" alt="quba ">
            <div class="card-body">
              <h5 class="card-title">Quba Mosque</h5>
              <a href="https://maps.app.goo.gl/DKs3Xvrstm9kpHaj8" class="btn btn-outline-primary">Visit</a>
          </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100 bg-light mb-3">
            <img src="\static\img\madena\qurancomplex.jpg" class="card-img" alt="King Fahd Glorious Qur'an Printing Complex "  >
            <div class="card-body">
              <h5 class="card-title">King Fahd Glorious Qur'an Printing Complex</h5>
              <a href="https://maps.app.goo.gl/jNjzUTvYFbBXfjXAA" class="btn btn-outline-primary">Visit</a>
          </div>
          </div>
        </div>

</div>

      </div>
      <br><br>
      
      <br><br><br>
{% endblock %}

