{% extends 'main/base.html' %}
{% load static %}

{% block title %} Riyadh {% endblock %}

{% block content %}
<div class="makah-container">
  <video width="1900" height="1000" controls autoplay muted>
    <source src="\static\vid\makah.mp4" type="video/mp4">
  </video>
</div>    

<div class="cities-content-container">
    <h1>Tourism In Makah</h1><br>
    <h5> <b> Al Masjed Al Haram</b></h5>
    <p>Since the dawn of civilization, the Kaaba of Al Masjed Al Haram has had great religious significance, owing to its religious connotations associated with the Creator. Two billion Muslims face the direction of Kaaba, to which their hearts are attached too, to perform the five daily prayers, as commanded by the Almighty, and supplicate Him for mercy, assistance and guidance. Millions of Umrah, Hajj and prayer performers head to Makkah to perform these religious rites and enjoy the serenity of the place. It is important to note that only Muslims may visit Al Masjed Al Haram in Makkah.
     </p><br>
        <p><b>Kaaba: </b><br>
          There is disagreement over when Kaaba was built-up for the first time. Some suggest that it was built before Adam's lifetime, as the Holy Quran states that it is the "Allah's House" and the first House (of worship) appointed for mankind. It is a cuboid-shaped building, and the surrounding area is called mataf (circumambulation space), which is always crowded with prayer, Hajj and Umrah performers, and supplicants.
          <br><b>The Black Stone:</b><br>
          It is believed to have been taken from Paradise. However, Muslims circumambulate counterclockwise. The Black Stone is situated on the eastern flank of Kaaba, it is positioned within the structure of Kaaba, so that it is 1.5 m high from the ground. Only a small part of the stone can be seen, and it is commonly believed that the Prophet (peace be upon him) kissed it; therefore, visitors to Al Masjed Al Haram look forward to kissing, or even touching the holy stone. 
         <br><b> The Yemeni Corner (Al-Rukn Al-Yamaani): </b><br>
          It is one of the main parts of Kaaba since it was built by Ibrahim (peace be upon him). While circumambulating, you can see the Yemeni Corner in a position before the Black Stone. As Prophet Mohammed (peace be upon him) touched it while circumambulating, all visitors to Kaaba do the same. 
          <br><b>Maqam Ibrahim: </b><br>
          Opposite the Kaaba door, there is a golden, small structure that engulfs a square stone that has Ibrahim's footprints made while raising the foundation of Kaaba. 
          <br><b> Hijr Ismail: </b><br>
          It is the crescent-shaped area immediately adjacent to the Kaaba. In Arabic, "Hijr" means "lap", which refers to Ibrahim and Ismail's pergola. 
          <br><b>Masa'a</b><br>
          After circumambulating, Hajj and Umrah performers head to Masa'a, which is part of Al Masjed Al Haram, to complete the required rites. They trot between Al-Safa and Al-Marwah, two mounts, to and fro seven times, following the example of Hajar (peace be upon her), who trotted there searching for water. 
          <br><b>Zamzam</b><br>
          Zamzam Well dates from Hajar and Ismail, her son. Unexpectedly, water sprang into the site while she was trotting between Al-Safa and Al-Marwa. The well is now under the circumambulation space, to the east of Kaaba. The General Presidency of Al Masjed Al Haram and the Prophet's Mosque has given the well great attention, creating Zamzam Commission in 1400 Hijri, along with a lab that monitors the whole treatment process. Throughout Al Masjed Al Haram, many water containers offer Zamzam water at various degrees, in addition to water oriels and faucets. 
         <br><b>The minarets:</b><br>
          The first minaret in Al Masjed Al Haram was built-up more than 1000 years ago, during the reign of Caliph Abu Jafaar Al-Mansour, 139 Hijri. The sound of athan (the call for prayer) comes out of 13 dazzling minarets, every one of which is made up of five parts, namely a base, balcony, main "stem", another balcony and top cover. 
          <br><b>The pulpit:</b><br>
          It is a raised structure on which the Imam of Al Masjed Al Haram stands while delivering sermons. It has seen various modifications throughout history, but the current marble structure was built-up in 1423 Hijri/2002 AD. The technical and artistic features of the pulpit are too attractive, as it is made from high-quality materials, and it can be moved at a speed of 1 m per second, thanks to its electric wheels. The total cost was 5,750,000 SAR. 
          <br><b>The gates: </b><br>
          As it is very large, there are many large gates, 210, to Al Masjed Al Haram, which facilitate entrance and reduce congestion. They are made of high-quality wood decorated with copper.
        </p><br> <br>

        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner" id="makah">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="\static\img\makah\kaba.webp" class="d-block w-100" alt="Kaaba">
              <div class="carousel-caption d-none d-md-block">
                <h5>Kaaba</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\The Black Stone.avif" class="d-block w-100" alt="the black stone">
              <div class="carousel-caption d-none d-md-block">
                <h5>The Black Stone</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="\static\img\makah\Rukan-Yamani-.webp" class="d-block w-100" alt="The yemeni corner">
              <div class="carousel-caption d-none d-md-block">
                <h5> The Yemeni Corner (Al-Rukn Al-Yamaani)</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\maqam-e-ibrahim.jpg" class="d-block w-100" alt="maqam ibrahem">
              <div class="carousel-caption d-none d-md-block">
                <h5>Maqam Ibrahim</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\Hijr Ismail.jpg" class="d-block w-100" alt=" Hijr Ismail">
              <div class="carousel-caption d-none d-md-block">
                <h5> Hijr Ismail</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\masaa.jpg" class="d-block w-100" alt="Masa'a">
              <div class="carousel-caption d-none d-md-block">
                <h5>Masa'a</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\zamzam.jpg" class="d-block w-100" alt="zamzam">
              <div class="carousel-caption d-none d-md-block">
                <h5>Zamzam</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\The minarets.jpg" class="d-block w-100" alt="the minarates">
              <div class="carousel-caption d-none d-md-block">
                <h5>The minarets</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\The pulpit.jpg" class="d-block w-100" alt="the pulpit">
              <div class="carousel-caption d-none d-md-block">
                <h5>The pulpit</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\static\img\makah\gates.jpg" class="d-block w-100" alt="the gates">
              <div class="carousel-caption d-none d-md-block">
                <h5>The gates</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
<br>
<br>
        <h2><b>The Kiswa Factory of the Holy Kaaba</b></h2>
        <p><b>History of Kiswa Factory</b><br>
          Saudi Arabia has paid great attention to kiswa since the reign of the Founding King, Abdulaziz ibn Abdulrahman Al-Saud. In 1927, a special workshop for making kiswa was established, producing the first Saudi clothing. However, in 1977, it was replaced by the Kiswa Factory, located in Om Al-Joud, Makkah. 
          King Abdulaziz's sons also showed great interest in the kiswa; during the reign of King Abdullah ibn Abdulaziz Al-Saud, electronic systems, advanced equipment and electronic devices were employed in the process. During the reign of King Salman ibn Abdulaziz Al-Saud, the name was changed to "King Abdulaziz Complex for Kiswa, and it is currently supervised by the General Presidency of the Grand Mosque and the Prophet's Mosque. 
          <br>Muslims used to look forward to seeing the ceremony of changing the kiswa on Dhu Al-Hijja, 9, after al-Fajr prayer. However, in 1444 Hijri/2022 AD the date was changed to Muharram 1. <br></p>
<br>
          <div class="card" style="width: 35rem;">
            <img src="\static\img\makah\kiswa-factory-makkah.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Kiswa Factory of the Holy Kaaba</h5>
              <p class="card-text">The factory welcomes its Muslim visitors to immerse in an unforgettable experience of sewing and weaving the Kiswah, from 8:00 AM to 11:00 AM from Monday till Thursday.              </p>
              <a class="btn btn-outline-primary" href="https://maps.app.goo.gl/r1mA36LLNu633muK6"> Visit</a>
              <a href="mailto:po@gph.gov.sa" class="btn btn-outline-primary">Connect to</a>
               </div>
          </div>


</div>

<br><br>

<br><br><br>
{% endblock %}

